<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>decoration_dishuichi.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{116,158}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,158}}</string>
                <key>sourceSize</key>
                <string>{120,182}</string>
            </dict>
            <key>decoration_fengche.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,446},{80,136}}</string>
                <key>offset</key>
                <string>{-5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{80,136}}</string>
                <key>sourceSize</key>
                <string>{116,184}</string>
            </dict>
            <key>decoration_fengche_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{116,152}}</string>
                <key>offset</key>
                <string>{13,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{116,152}}</string>
                <key>sourceSize</key>
                <string>{142,200}</string>
            </dict>
            <key>decoration_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,270},{132,231}}</string>
                <key>offset</key>
                <string>{-18,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,231}}</string>
                <key>sourceSize</key>
                <string>{168,265}</string>
            </dict>
            <key>decoration_huatan.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,473},{145,113}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,113}}</string>
                <key>sourceSize</key>
                <string>{153,141}</string>
            </dict>
            <key>decoration_qigan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{54,155}}</string>
                <key>offset</key>
                <string>{-11,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,155}}</string>
                <key>sourceSize</key>
                <string>{76,215}</string>
            </dict>
            <key>decoration_qigan_american_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,316},{100,155}}</string>
                <key>offset</key>
                <string>{11,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{100,155}}</string>
                <key>sourceSize</key>
                <string>{122,215}</string>
            </dict>
            <key>decoration_qigan_china_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{100,155}}</string>
                <key>offset</key>
                <string>{11,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{100,155}}</string>
                <key>sourceSize</key>
                <string>{122,215}</string>
            </dict>
            <key>decoration_qigan_hongkong_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,159},{100,155}}</string>
                <key>offset</key>
                <string>{11,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{100,155}}</string>
                <key>sourceSize</key>
                <string>{122,215}</string>
            </dict>
            <key>decoration_qigan_indonesia_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{100,155}}</string>
                <key>offset</key>
                <string>{11,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{100,155}}</string>
                <key>sourceSize</key>
                <string>{122,215}</string>
            </dict>
            <key>decoration_qigan_korea_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,162},{100,155}}</string>
                <key>offset</key>
                <string>{11,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{100,155}}</string>
                <key>sourceSize</key>
                <string>{122,215}</string>
            </dict>
            <key>decoration_qigan_tai_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,503},{100,155}}</string>
                <key>offset</key>
                <string>{11,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{100,155}}</string>
                <key>sourceSize</key>
                <string>{122,215}</string>
            </dict>
            <key>decoration_qigan_taiwan_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,503},{100,155}}</string>
                <key>offset</key>
                <string>{11,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{100,155}}</string>
                <key>sourceSize</key>
                <string>{122,215}</string>
            </dict>
            <key>decoration_qigan_vietnam_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,503},{100,155}}</string>
                <key>offset</key>
                <string>{11,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{100,155}}</string>
                <key>sourceSize</key>
                <string>{122,215}</string>
            </dict>
            <key>decoration_shuichi.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,189},{171,160}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,160}}</string>
                <key>sourceSize</key>
                <string>{179,182}</string>
            </dict>
            <key>decoration_statue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,266}}</string>
                <key>offset</key>
                <string>{-33,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,266}}</string>
                <key>sourceSize</key>
                <string>{270,292}</string>
            </dict>
            <key>decoration_statue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{192,262}}</string>
                <key>offset</key>
                <string>{-29,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,262}}</string>
                <key>sourceSize</key>
                <string>{250,292}</string>
            </dict>
            <key>letter_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,302},{148,135}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,135}}</string>
                <key>sourceSize</key>
                <string>{160,153}</string>
            </dict>
            <key>letter_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,452},{148,132}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,132}}</string>
                <key>sourceSize</key>
                <string>{160,152}</string>
            </dict>
            <key>letter_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,152},{148,134}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,134}}</string>
                <key>sourceSize</key>
                <string>{160,154}</string>
            </dict>
            <key>letter_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,2},{148,132}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,132}}</string>
                <key>sourceSize</key>
                <string>{160,152}</string>
            </dict>
            <key>letter_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,464},{148,138}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,138}}</string>
                <key>sourceSize</key>
                <string>{160,158}</string>
            </dict>
            <key>letter_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,362},{148,139}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,139}}</string>
                <key>sourceSize</key>
                <string>{160,157}</string>
            </dict>
            <key>letter_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,152},{148,136}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,136}}</string>
                <key>sourceSize</key>
                <string>{160,154}</string>
            </dict>
            <key>letter_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{148,145}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,145}}</string>
                <key>sourceSize</key>
                <string>{162,163}</string>
            </dict>
            <key>letter_i.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,452},{148,135}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,135}}</string>
                <key>sourceSize</key>
                <string>{162,153}</string>
            </dict>
            <key>letter_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,2},{148,135}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,135}}</string>
                <key>sourceSize</key>
                <string>{162,153}</string>
            </dict>
            <key>letter_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,156},{148,146}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,146}}</string>
                <key>sourceSize</key>
                <string>{162,164}</string>
            </dict>
            <key>letter_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,152},{148,135}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,135}}</string>
                <key>sourceSize</key>
                <string>{162,153}</string>
            </dict>
            <key>letter_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,314},{148,148}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{160,166}</string>
            </dict>
            <key>letter_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,306},{148,143}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,143}}</string>
                <key>sourceSize</key>
                <string>{160,161}</string>
            </dict>
            <key>letter_o.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,302},{148,135}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,135}}</string>
                <key>sourceSize</key>
                <string>{160,153}</string>
            </dict>
            <key>letter_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,2},{148,135}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,135}}</string>
                <key>sourceSize</key>
                <string>{160,153}</string>
            </dict>
            <key>letter_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,446},{146,133}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,133}}</string>
                <key>sourceSize</key>
                <string>{158,153}</string>
            </dict>
            <key>letter_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,2},{146,133}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,133}}</string>
                <key>sourceSize</key>
                <string>{158,153}</string>
            </dict>
            <key>letter_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1589,298},{146,137}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,137}}</string>
                <key>sourceSize</key>
                <string>{158,157}</string>
            </dict>
            <key>letter_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,362},{146,139}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,139}}</string>
                <key>sourceSize</key>
                <string>{158,159}</string>
            </dict>
            <key>letter_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,2},{146,141}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,141}}</string>
                <key>sourceSize</key>
                <string>{158,161}</string>
            </dict>
            <key>letter_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,152},{146,144}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,144}}</string>
                <key>sourceSize</key>
                <string>{158,164}</string>
            </dict>
            <key>letter_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,159},{142,153}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,153}}</string>
                <key>sourceSize</key>
                <string>{152,171}</string>
            </dict>
            <key>letter_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,456},{146,146}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{158,164}</string>
            </dict>
            <key>letter_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,302},{146,145}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,145}}</string>
                <key>sourceSize</key>
                <string>{158,163}</string>
            </dict>
            <key>letter_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,450},{146,143}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,143}}</string>
                <key>sourceSize</key>
                <string>{158,163}</string>
            </dict>
            <key>number_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,298},{146,131}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,131}}</string>
                <key>sourceSize</key>
                <string>{158,151}</string>
            </dict>
            <key>number_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,150},{146,133}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,133}}</string>
                <key>sourceSize</key>
                <string>{158,151}</string>
            </dict>
            <key>number_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,298},{146,133}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,133}}</string>
                <key>sourceSize</key>
                <string>{158,151}</string>
            </dict>
            <key>number_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,446},{146,133}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,133}}</string>
                <key>sourceSize</key>
                <string>{158,151}</string>
            </dict>
            <key>number_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,448},{146,137}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,137}}</string>
                <key>sourceSize</key>
                <string>{158,155}</string>
            </dict>
            <key>number_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,150},{146,141}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{146,141}}</string>
                <key>sourceSize</key>
                <string>{158,161}</string>
            </dict>
            <key>number_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,2},{146,143}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,143}}</string>
                <key>sourceSize</key>
                <string>{158,161}</string>
            </dict>
            <key>number_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,300},{146,141}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{146,141}}</string>
                <key>sourceSize</key>
                <string>{158,161}</string>
            </dict>
            <key>number_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,150},{146,135}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,135}}</string>
                <key>sourceSize</key>
                <string>{158,153}</string>
            </dict>
            <key>number_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,2},{146,134}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,134}}</string>
                <key>sourceSize</key>
                <string>{158,152}</string>
            </dict>
            <key>shoushi_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{120,185}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,185}}</string>
                <key>sourceSize</key>
                <string>{136,223}</string>
            </dict>
            <key>shoushi_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{114,190}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,190}}</string>
                <key>sourceSize</key>
                <string>{130,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Decoration-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2024,605}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1aed6293905b8a629ea4418d29b21e8$</string>
            <key>textureFileName</key>
            <string>Decoration-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
