<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obstacle_flower_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,130},{57,39}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{57,39}}</string>
                <key>sourceSize</key>
                <string>{73,63}</string>
            </dict>
            <key>obstacle_flower_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,222},{33,18}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{33,18}}</string>
                <key>sourceSize</key>
                <string>{39,30}</string>
            </dict>
            <key>obstacle_flower_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{51,35}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{51,35}}</string>
                <key>sourceSize</key>
                <string>{73,57}</string>
            </dict>
            <key>obstacle_flower_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{79,61}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{79,61}}</string>
                <key>sourceSize</key>
                <string>{109,89}</string>
            </dict>
            <key>obstacle_flower_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{47,38}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{47,38}}</string>
                <key>sourceSize</key>
                <string>{73,56}</string>
            </dict>
            <key>obstacle_flower_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,70}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{75,70}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>obstacle_zhuanshi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,222},{37,27}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,27}}</string>
                <key>sourceSize</key>
                <string>{43,57}</string>
            </dict>
            <key>obstacle_zhuanshi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,42},{42,34}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>obstacle_zhuanshi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,78},{56,50}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{56,50}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>obstacle_zhuanshi04.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,171},{57,49}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,49}}</string>
                <key>sourceSize</key>
                <string>{67,71}</string>
            </dict>
            <key>obstacle_zhuanshi05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{76,55}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,55}}</string>
                <key>sourceSize</key>
                <string>{90,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Obstacle.pvr.ccz</string>
            <key>size</key>
            <string>{128,270}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5d8e6b4f5232bd5449a196b79ab8e11$</string>
            <key>textureFileName</key>
            <string>Obstacle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
