<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obstacle_flower_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,2},{165,109}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,39},{165,109}}</string>
                <key>sourceSize</key>
                <string>{215,185}</string>
            </dict>
            <key>obstacle_flower_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{93,49}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{93,49}}</string>
                <key>sourceSize</key>
                <string>{115,87}</string>
            </dict>
            <key>obstacle_flower_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,310},{148,99}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,35},{148,99}}</string>
                <key>sourceSize</key>
                <string>{214,167}</string>
            </dict>
            <key>obstacle_flower_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{230,174}}</string>
                <key>offset</key>
                <string>{-45,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{230,174}}</string>
                <key>sourceSize</key>
                <string>{320,262}</string>
            </dict>
            <key>obstacle_flower_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,169},{139,112}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,8},{139,112}}</string>
                <key>sourceSize</key>
                <string>{215,164}</string>
            </dict>
            <key>obstacle_flower_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,207}}</string>
                <key>offset</key>
                <string>{4,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{214,207}}</string>
                <key>sourceSize</key>
                <string>{320,265}</string>
            </dict>
            <key>obstacle_zhuanshi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,283},{106,79}}</string>
                <key>offset</key>
                <string>{-10,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,79}}</string>
                <key>sourceSize</key>
                <string>{126,167}</string>
            </dict>
            <key>obstacle_zhuanshi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,364},{120,99}}</string>
                <key>offset</key>
                <string>{-10,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,99}}</string>
                <key>sourceSize</key>
                <string>{140,175}</string>
            </dict>
            <key>obstacle_zhuanshi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,162},{166,146}}</string>
                <key>offset</key>
                <string>{-17,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{166,146}}</string>
                <key>sourceSize</key>
                <string>{252,206}</string>
            </dict>
            <key>obstacle_zhuanshi04.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,310},{164,144}}</string>
                <key>offset</key>
                <string>{-16,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,144}}</string>
                <key>sourceSize</key>
                <string>{196,210}</string>
            </dict>
            <key>obstacle_zhuanshi05.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{221,158}}</string>
                <key>offset</key>
                <string>{-22,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,158}}</string>
                <key>sourceSize</key>
                <string>{265,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Obstacle-hd.pvr.ccz</string>
            <key>size</key>
            <string>{553,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9257c4516d6c37406555cc6da564ede$</string>
            <key>textureFileName</key>
            <string>Obstacle-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
