<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buildingShadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,204},{67,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,45}}</string>
                <key>sourceSize</key>
                <string>{67,45}</string>
            </dict>
            <key>canhaiX0.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,236},{11,12}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,12}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>canhaiX1.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,236},{22,14}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,14}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>canhaiX2.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,397},{52,37}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,37}}</string>
                <key>sourceSize</key>
                <string>{54,47}</string>
            </dict>
            <key>canhaiX3.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,345},{70,50}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,50}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>dibiaoX1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,394},{34,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,28}}</string>
                <key>sourceSize</key>
                <string>{38,28}</string>
            </dict>
            <key>dibiaoX2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,130},{72,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{72,53}}</string>
                <key>sourceSize</key>
                <string>{78,57}</string>
            </dict>
            <key>dibiaoX3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{113,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{113,84}}</string>
                <key>sourceSize</key>
                <string>{117,86}</string>
            </dict>
            <key>dibiaoX4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{145,113}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{145,113}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
            <key>dibiaoX5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{183,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{183,137}}</string>
                <key>sourceSize</key>
                <string>{193,143}</string>
            </dict>
            <key>jianzhu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,339},{31,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>jianzhu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,345},{47,47}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>jianzhu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,256},{86,87}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,87}}</string>
                <key>sourceSize</key>
                <string>{86,99}</string>
            </dict>
            <key>jianzhu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{93,93}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,119}</string>
            </dict>
            <key>mubei.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,372},{23,28}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,28}}</string>
                <key>sourceSize</key>
                <string>{23,34}</string>
            </dict>
            <key>wall_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,397},{37,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,27}}</string>
                <key>sourceSize</key>
                <string>{37,27}</string>
            </dict>
            <key>weilanX2.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,273},{64,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,34}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>weilanX3.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,141},{93,45}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{95,49}</string>
            </dict>
            <key>weilanX4.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{126,56}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,56}}</string>
                <key>sourceSize</key>
                <string>{126,60}</string>
            </dict>
            <key>weilanX5.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,397},{33,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,21}}</string>
                <key>sourceSize</key>
                <string>{33,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_others_sprite.pvr.ccz</string>
            <key>size</key>
            <string>{252,439}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0bc69889b281c890c3c3fbd4de05d03$</string>
            <key>textureFileName</key>
            <string>s_others_sprite.pvr.ccz</string>
        </dict>
    </dict>
</plist>
