<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1020,705}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,705}}</string>
                <key>sourceSize</key>
                <string>{1020,705}</string>
            </dict>
            <key>sequence/pubu1/pubu1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,709},{36,163}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{36,163}}</string>
                <key>sourceSize</key>
                <string>{100,165}</string>
            </dict>
            <key>sequence/pubu1/pubu1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,963},{34,163}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{34,163}}</string>
                <key>sourceSize</key>
                <string>{100,165}</string>
            </dict>
            <key>sequence/pubu1/pubu1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,709},{34,163}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{34,163}}</string>
                <key>sourceSize</key>
                <string>{100,165}</string>
            </dict>
            <key>sequence/pubu1/pubu1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,709},{34,163}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{34,163}}</string>
                <key>sourceSize</key>
                <string>{100,165}</string>
            </dict>
            <key>sequence/pubu1/pubu1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,709},{34,163}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{34,163}}</string>
                <key>sourceSize</key>
                <string>{100,165}</string>
            </dict>
            <key>sequence/pubu1/pubu1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,709},{34,163}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{34,163}}</string>
                <key>sourceSize</key>
                <string>{100,165}</string>
            </dict>
            <key>sequence/pubu1/pubu1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,874},{34,163}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{34,163}}</string>
                <key>sourceSize</key>
                <string>{100,165}</string>
            </dict>
            <key>sequence/pubu1/pubu1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,927},{34,163}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{34,163}}</string>
                <key>sourceSize</key>
                <string>{100,165}</string>
            </dict>
            <key>sequence/pubu1/pubu1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,983},{34,163}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{34,163}}</string>
                <key>sourceSize</key>
                <string>{100,165}</string>
            </dict>
            <key>sequence/pubu1/pubu1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,983},{34,163}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{34,163}}</string>
                <key>sourceSize</key>
                <string>{100,165}</string>
            </dict>
            <key>sequence/pubu1/pubu1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,709},{34,163}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{34,163}}</string>
                <key>sourceSize</key>
                <string>{100,165}</string>
            </dict>
            <key>sequence/pubu1/pubu1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,709},{34,163}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{34,163}}</string>
                <key>sourceSize</key>
                <string>{100,165}</string>
            </dict>
            <key>sequence/pubu1/pubu1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,709},{36,163}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{36,163}}</string>
                <key>sourceSize</key>
                <string>{100,165}</string>
            </dict>
            <key>sequence/pubu2/pubu2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,709},{54,164}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{54,164}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>sequence/pubu2/pubu2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,877},{54,166}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,12},{54,166}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>sequence/pubu2/pubu2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,875},{50,164}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,14},{50,164}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>sequence/pubu2/pubu2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,933},{54,164}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,14},{54,164}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>sequence/pubu2/pubu2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,933},{54,164}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,14},{54,164}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>sequence/pubu2/pubu2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,929},{52,164}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{52,164}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>sequence/pubu2/pubu2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,709},{54,164}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{54,164}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>sequence/pubu2/pubu2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,709},{52,164}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{52,164}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>sequence/pubu2/pubu2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,709},{54,166}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{54,166}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>sequence/pubu2/pubu2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,709},{52,164}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{52,164}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>sequence/pubu2/pubu2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,709},{52,164}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{52,164}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>sequence/pubu2/pubu2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,709},{54,164}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{54,164}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>sequence/pubu2/pubu2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,875},{52,164}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{52,164}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Beijing.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bed9662e7a194abe3ff3dc1fe90e653$</string>
            <key>textureFileName</key>
            <string>Beijing.png</string>
        </dict>
    </dict>
</plist>
