<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jianong_lv9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,247},{53,50}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{53,50}}</string>
                <key>sourceSize</key>
                <string>{73,88}</string>
            </dict>
            <key>jianong_lv9_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{53,52}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{53,52}}</string>
                <key>sourceSize</key>
                <string>{73,88}</string>
            </dict>
            <key>jianong_lv9_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,347},{57,46}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{57,46}}</string>
                <key>sourceSize</key>
                <string>{73,88}</string>
            </dict>
            <key>jianong_lv9_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{57,44}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{57,44}}</string>
                <key>sourceSize</key>
                <string>{73,88}</string>
            </dict>
            <key>jianong_lv9_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{57,44}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{57,44}}</string>
                <key>sourceSize</key>
                <string>{73,88}</string>
            </dict>
            <key>jianong_lv9_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,195},{55,50}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{55,50}}</string>
                <key>sourceSize</key>
                <string>{73,88}</string>
            </dict>
            <key>jianong_lv9_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,143},{53,50}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{53,50}}</string>
                <key>sourceSize</key>
                <string>{73,88}</string>
            </dict>
            <key>jianong_lv9_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,47},{45,50}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{45,50}}</string>
                <key>sourceSize</key>
                <string>{73,88}</string>
            </dict>
            <key>jianong_lv9_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{43,52}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{43,52}}</string>
                <key>sourceSize</key>
                <string>{73,88}</string>
            </dict>
            <key>jianong_lv9_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,94},{47,50}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,15},{47,50}}</string>
                <key>sourceSize</key>
                <string>{73,88}</string>
            </dict>
            <key>jianong_lv9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,395},{57,50}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{57,50}}</string>
                <key>sourceSize</key>
                <string>{73,88}</string>
            </dict>
            <key>jianong_lv9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{57,44}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{57,44}}</string>
                <key>sourceSize</key>
                <string>{73,88}</string>
            </dict>
            <key>jianong_lv9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,299},{57,46}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{57,46}}</string>
                <key>sourceSize</key>
                <string>{73,88}</string>
            </dict>
            <key>jianong_lv9_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{57,48}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{57,48}}</string>
                <key>sourceSize</key>
                <string>{73,88}</string>
            </dict>
            <key>jianong_lv9_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{53,52}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{53,52}}</string>
                <key>sourceSize</key>
                <string>{73,88}</string>
            </dict>
            <key>jianong_lv9_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{45,56}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{45,56}}</string>
                <key>sourceSize</key>
                <string>{73,88}</string>
            </dict>
            <key>jianong_lv9_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,52}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,5},{43,52}}</string>
                <key>sourceSize</key>
                <string>{73,88}</string>
            </dict>
            <key>jianong_lv9_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{45,56}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{45,56}}</string>
                <key>sourceSize</key>
                <string>{73,88}</string>
            </dict>
            <key>jianong_lv9_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{73,54}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,54}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Cannon_lv9.pvr.ccz</string>
            <key>size</key>
            <string>{117,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc1842f09a0c8cf1850ae4c13917ac05$</string>
            <key>textureFileName</key>
            <string>Cannon_lv9.pvr.ccz</string>
        </dict>
    </dict>
</plist>
