<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jianong_lv1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,92},{43,37}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{43,37}}</string>
                <key>sourceSize</key>
                <string>{47,73}</string>
            </dict>
            <key>jianong_lv1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{43,43}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{43,43}}</string>
                <key>sourceSize</key>
                <string>{47,73}</string>
            </dict>
            <key>jianong_lv1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{43,39}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{43,39}}</string>
                <key>sourceSize</key>
                <string>{47,73}</string>
            </dict>
            <key>jianong_lv1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,90},{39,35}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{39,35}}</string>
                <key>sourceSize</key>
                <string>{47,73}</string>
            </dict>
            <key>jianong_lv1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,76},{39,35}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{39,35}}</string>
                <key>sourceSize</key>
                <string>{47,73}</string>
            </dict>
            <key>jianong_lv1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{41,37}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{41,37}}</string>
                <key>sourceSize</key>
                <string>{47,73}</string>
            </dict>
            <key>jianong_lv1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{43,37}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{43,37}}</string>
                <key>sourceSize</key>
                <string>{47,73}</string>
            </dict>
            <key>jianong_lv1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,88},{41,35}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{41,35}}</string>
                <key>sourceSize</key>
                <string>{47,73}</string>
            </dict>
            <key>jianong_lv1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,113},{37,33}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{37,33}}</string>
                <key>sourceSize</key>
                <string>{47,73}</string>
            </dict>
            <key>jianong_lv1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,45},{41,35}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{41,35}}</string>
                <key>sourceSize</key>
                <string>{47,73}</string>
            </dict>
            <key>jianong_lv1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,47},{43,37}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{43,37}}</string>
                <key>sourceSize</key>
                <string>{47,73}</string>
            </dict>
            <key>jianong_lv1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,39},{39,35}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{39,35}}</string>
                <key>sourceSize</key>
                <string>{47,73}</string>
            </dict>
            <key>jianong_lv1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{39,35}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{39,35}}</string>
                <key>sourceSize</key>
                <string>{47,73}</string>
            </dict>
            <key>jianong_lv1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,47},{41,39}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{41,39}}</string>
                <key>sourceSize</key>
                <string>{47,73}</string>
            </dict>
            <key>jianong_lv1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{43,43}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{43,43}}</string>
                <key>sourceSize</key>
                <string>{47,73}</string>
            </dict>
            <key>jianong_lv1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,92},{41,43}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{41,43}}</string>
                <key>sourceSize</key>
                <string>{47,73}</string>
            </dict>
            <key>jianong_lv1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{37,41}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{37,41}}</string>
                <key>sourceSize</key>
                <string>{47,73}</string>
            </dict>
            <key>jianong_lv1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,47},{41,43}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{41,43}}</string>
                <key>sourceSize</key>
                <string>{47,73}</string>
            </dict>
            <key>jianong_lv1_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,42}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,42}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Cannon_lv1.pvr.ccz</string>
            <key>size</key>
            <string>{249,149}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99b11768b3abb096d8717ad2a9b4d736$</string>
            <key>textureFileName</key>
            <string>Cannon_lv1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
