<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jianong_lv7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,88},{80,77}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{80,77}}</string>
                <key>sourceSize</key>
                <string>{100,141}</string>
            </dict>
            <key>jianong_lv7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{80,85}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{80,85}}</string>
                <key>sourceSize</key>
                <string>{100,141}</string>
            </dict>
            <key>jianong_lv7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,109},{84,79}}</string>
                <key>offset</key>
                <string>{5,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{84,79}}</string>
                <key>sourceSize</key>
                <string>{100,141}</string>
            </dict>
            <key>jianong_lv7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,149},{78,75}}</string>
                <key>offset</key>
                <string>{7,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{78,75}}</string>
                <key>sourceSize</key>
                <string>{100,141}</string>
            </dict>
            <key>jianong_lv7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,72},{78,75}}</string>
                <key>offset</key>
                <string>{7,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{78,75}}</string>
                <key>sourceSize</key>
                <string>{100,141}</string>
            </dict>
            <key>jianong_lv7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{84,77}}</string>
                <key>offset</key>
                <string>{5,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{84,77}}</string>
                <key>sourceSize</key>
                <string>{100,141}</string>
            </dict>
            <key>jianong_lv7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,177},{80,77}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{80,77}}</string>
                <key>sourceSize</key>
                <string>{100,141}</string>
            </dict>
            <key>jianong_lv7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,226},{70,73}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,16},{70,73}}</string>
                <key>sourceSize</key>
                <string>{100,141}</string>
            </dict>
            <key>jianong_lv7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,229},{68,67}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{68,67}}</string>
                <key>sourceSize</key>
                <string>{100,141}</string>
            </dict>
            <key>jianong_lv7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,154},{72,73}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{72,73}}</string>
                <key>sourceSize</key>
                <string>{100,141}</string>
            </dict>
            <key>jianong_lv7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{84,75}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{84,75}}</string>
                <key>sourceSize</key>
                <string>{100,141}</string>
            </dict>
            <key>jianong_lv7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,74},{78,75}}</string>
                <key>offset</key>
                <string>{-6,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{78,75}}</string>
                <key>sourceSize</key>
                <string>{100,141}</string>
            </dict>
            <key>jianong_lv7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,170},{78,75}}</string>
                <key>offset</key>
                <string>{-6,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{78,75}}</string>
                <key>sourceSize</key>
                <string>{100,141}</string>
            </dict>
            <key>jianong_lv7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,195},{82,79}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{82,79}}</string>
                <key>sourceSize</key>
                <string>{100,141}</string>
            </dict>
            <key>jianong_lv7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{80,85}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{80,85}}</string>
                <key>sourceSize</key>
                <string>{100,141}</string>
            </dict>
            <key>jianong_lv7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{70,87}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{70,87}}</string>
                <key>sourceSize</key>
                <string>{100,141}</string>
            </dict>
            <key>jianong_lv7_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{68,81}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{68,81}}</string>
                <key>sourceSize</key>
                <string>{100,141}</string>
            </dict>
            <key>jianong_lv7_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,88},{72,87}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{72,87}}</string>
                <key>sourceSize</key>
                <string>{100,141}</string>
            </dict>
            <key>jianong_lv7_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,81}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,81}}</string>
                <key>sourceSize</key>
                <string>{119,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Cannon_lv7-hd.pvr.ccz</string>
            <key>size</key>
            <string>{475,298}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8039eac0ac13aadcaac4b2324ec898ba$</string>
            <key>textureFileName</key>
            <string>Cannon_lv7-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
