<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jianong_lv4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,230},{74,68}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{74,68}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>jianong_lv4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{74,76}}</string>
                <key>offset</key>
                <string>{9,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{74,76}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>jianong_lv4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{74,70}}</string>
                <key>offset</key>
                <string>{10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{74,70}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>jianong_lv4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,378},{76,64}}</string>
                <key>offset</key>
                <string>{9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{76,64}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>jianong_lv4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{76,64}}</string>
                <key>offset</key>
                <string>{9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{76,64}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>jianong_lv4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{74,66}}</string>
                <key>offset</key>
                <string>{10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{74,66}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>jianong_lv4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,154},{74,68}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{74,68}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>jianong_lv4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,444},{66,68}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,15},{66,68}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>jianong_lv4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,376},{62,64}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{62,64}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>jianong_lv4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,306},{66,68}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{66,68}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>jianong_lv4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,230},{74,66}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{74,66}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>jianong_lv4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{76,64}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{76,64}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>jianong_lv4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,300},{76,64}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{76,64}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>jianong_lv4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,78},{74,70}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{74,70}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>jianong_lv4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{74,76}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{74,76}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>jianong_lv4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{66,78}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>jianong_lv4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,78},{62,74}}</string>
                <key>offset</key>
                <string>{4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>jianong_lv4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,150},{66,78}}</string>
                <key>offset</key>
                <string>{7,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>jianong_lv4_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,68}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,68}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Cannon_lv4-hd.pvr.ccz</string>
            <key>size</key>
            <string>{220,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:359dbb01b534bf15697c80e108bda0be$</string>
            <key>textureFileName</key>
            <string>Cannon_lv4-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
