<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jianong_lv11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,160},{47,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,29},{47,42}}</string>
                <key>sourceSize</key>
                <string>{81,102}</string>
            </dict>
            <key>jianong_lv11_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{47,48}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{47,48}}</string>
                <key>sourceSize</key>
                <string>{81,102}</string>
            </dict>
            <key>jianong_lv11_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,58},{49,42}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,27},{49,42}}</string>
                <key>sourceSize</key>
                <string>{81,102}</string>
            </dict>
            <key>jianong_lv11_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,48},{49,40}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,30},{49,40}}</string>
                <key>sourceSize</key>
                <string>{81,102}</string>
            </dict>
            <key>jianong_lv11_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,209},{49,40}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,29},{49,40}}</string>
                <key>sourceSize</key>
                <string>{81,102}</string>
            </dict>
            <key>jianong_lv11_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{49,44}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,28},{49,44}}</string>
                <key>sourceSize</key>
                <string>{81,102}</string>
            </dict>
            <key>jianong_lv11_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{47,42}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,29},{47,42}}</string>
                <key>sourceSize</key>
                <string>{81,102}</string>
            </dict>
            <key>jianong_lv11_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,208},{39,46}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,28},{39,46}}</string>
                <key>sourceSize</key>
                <string>{81,102}</string>
            </dict>
            <key>jianong_lv11_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,191},{33,46}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{33,46}}</string>
                <key>sourceSize</key>
                <string>{81,102}</string>
            </dict>
            <key>jianong_lv11_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,160},{39,46}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,28},{39,46}}</string>
                <key>sourceSize</key>
                <string>{81,102}</string>
            </dict>
            <key>jianong_lv11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{49,44}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,28},{49,44}}</string>
                <key>sourceSize</key>
                <string>{81,102}</string>
            </dict>
            <key>jianong_lv11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,109},{49,38}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,31},{49,38}}</string>
                <key>sourceSize</key>
                <string>{81,102}</string>
            </dict>
            <key>jianong_lv11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,109},{49,40}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,30},{49,40}}</string>
                <key>sourceSize</key>
                <string>{81,102}</string>
            </dict>
            <key>jianong_lv11_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{49,44}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,26},{49,44}}</string>
                <key>sourceSize</key>
                <string>{81,102}</string>
            </dict>
            <key>jianong_lv11_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{47,48}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{47,48}}</string>
                <key>sourceSize</key>
                <string>{81,102}</string>
            </dict>
            <key>jianong_lv11_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,104},{39,50}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,20},{39,50}}</string>
                <key>sourceSize</key>
                <string>{81,102}</string>
            </dict>
            <key>jianong_lv11_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,156},{33,48}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,19},{33,48}}</string>
                <key>sourceSize</key>
                <string>{81,102}</string>
            </dict>
            <key>jianong_lv11_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,52},{39,50}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{39,50}}</string>
                <key>sourceSize</key>
                <string>{81,102}</string>
            </dict>
            <key>jianong_lv11_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,54}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,54}}</string>
                <key>sourceSize</key>
                <string>{85,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Cannon_lv11.pvr.ccz</string>
            <key>size</key>
            <string>{183,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:486f44b490f46c6bc789d4a57f86d2c2$</string>
            <key>textureFileName</key>
            <string>Cannon_lv11.pvr.ccz</string>
        </dict>
    </dict>
</plist>
