<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jianong_lv2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{43,40}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{43,40}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>jianong_lv2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{43,46}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{43,46}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>jianong_lv2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{45,40}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{45,40}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>jianong_lv2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,210},{41,36}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{41,36}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>jianong_lv2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,210},{41,36}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{41,36}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>jianong_lv2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,88},{45,40}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{45,40}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>jianong_lv2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,130},{43,40}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{43,40}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>jianong_lv2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{41,36}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{41,36}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>jianong_lv2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{35,34}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{35,34}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>jianong_lv2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,207},{39,36}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{39,36}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>jianong_lv2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,90},{43,40}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{43,40}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>jianong_lv2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,172},{41,36}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{41,36}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>jianong_lv2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,169},{41,36}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{41,36}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>jianong_lv2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,48},{43,40}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{43,40}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>jianong_lv2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{43,44}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{43,44}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>jianong_lv2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{39,46}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{39,46}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>jianong_lv2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,132},{35,42}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{35,42}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>jianong_lv2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,47},{39,46}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{39,46}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>jianong_lv2_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,44}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,44}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Cannon_lv2.pvr.ccz</string>
            <key>size</key>
            <string>{154,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d992e109ac53495fcd925c9c6eeb0de$</string>
            <key>textureFileName</key>
            <string>Cannon_lv2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
