<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jianong_lv7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{49,48}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{49,48}}</string>
                <key>sourceSize</key>
                <string>{61,86}</string>
            </dict>
            <key>jianong_lv7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{51,52}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{51,52}}</string>
                <key>sourceSize</key>
                <string>{61,86}</string>
            </dict>
            <key>jianong_lv7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{51,48}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{51,48}}</string>
                <key>sourceSize</key>
                <string>{61,86}</string>
            </dict>
            <key>jianong_lv7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,460},{49,46}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{49,46}}</string>
                <key>sourceSize</key>
                <string>{61,86}</string>
            </dict>
            <key>jianong_lv7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{49,46}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{49,46}}</string>
                <key>sourceSize</key>
                <string>{61,86}</string>
            </dict>
            <key>jianong_lv7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{51,48}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{51,48}}</string>
                <key>sourceSize</key>
                <string>{61,86}</string>
            </dict>
            <key>jianong_lv7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{49,48}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{49,48}}</string>
                <key>sourceSize</key>
                <string>{61,86}</string>
            </dict>
            <key>jianong_lv7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,153},{43,44}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{43,44}}</string>
                <key>sourceSize</key>
                <string>{61,86}</string>
            </dict>
            <key>jianong_lv7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,306},{43,42}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{43,42}}</string>
                <key>sourceSize</key>
                <string>{61,86}</string>
            </dict>
            <key>jianong_lv7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,106},{45,44}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{45,44}}</string>
                <key>sourceSize</key>
                <string>{61,86}</string>
            </dict>
            <key>jianong_lv7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{51,48}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{51,48}}</string>
                <key>sourceSize</key>
                <string>{61,86}</string>
            </dict>
            <key>jianong_lv7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,409},{49,46}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{49,46}}</string>
                <key>sourceSize</key>
                <string>{61,86}</string>
            </dict>
            <key>jianong_lv7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,358},{49,46}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{49,46}}</string>
                <key>sourceSize</key>
                <string>{61,86}</string>
            </dict>
            <key>jianong_lv7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{51,48}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{51,48}}</string>
                <key>sourceSize</key>
                <string>{61,86}</string>
            </dict>
            <key>jianong_lv7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{49,52}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{49,52}}</string>
                <key>sourceSize</key>
                <string>{61,86}</string>
            </dict>
            <key>jianong_lv7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,252},{45,52}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{45,52}}</string>
                <key>sourceSize</key>
                <string>{61,86}</string>
            </dict>
            <key>jianong_lv7_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,54},{43,50}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{43,50}}</string>
                <key>sourceSize</key>
                <string>{61,86}</string>
            </dict>
            <key>jianong_lv7_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,198},{45,52}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{45,52}}</string>
                <key>sourceSize</key>
                <string>{61,86}</string>
            </dict>
            <key>jianong_lv7_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,50}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,50}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Cannon_lv7.pvr.ccz</string>
            <key>size</key>
            <string>{102,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38764ea281e92074bd4bd4e3c2b369b7$</string>
            <key>textureFileName</key>
            <string>Cannon_lv7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
