<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jianong_lv5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{69,66}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{69,66}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>jianong_lv5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{69,76}}</string>
                <key>offset</key>
                <string>{8,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,4},{69,76}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>jianong_lv5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{71,70}}</string>
                <key>offset</key>
                <string>{12,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{71,70}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>jianong_lv5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,224},{73,62}}</string>
                <key>offset</key>
                <string>{11,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,16},{73,62}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>jianong_lv5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,149},{73,62}}</string>
                <key>offset</key>
                <string>{11,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,17},{73,62}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>jianong_lv5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,375},{71,64}}</string>
                <key>offset</key>
                <string>{12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,18},{71,64}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>jianong_lv5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,307},{67,66}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{67,66}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>jianong_lv5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,299},{59,66}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{59,66}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>jianong_lv5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,375},{57,66}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{57,66}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>jianong_lv5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,441},{59,66}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{59,66}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>jianong_lv5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,234},{71,64}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,19},{71,64}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>jianong_lv5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{73,62}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{73,62}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>jianong_lv5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{73,62}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,17},{73,62}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>jianong_lv5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{73,70}}</string>
                <key>offset</key>
                <string>{-5,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{73,70}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>jianong_lv5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{69,76}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{69,76}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>jianong_lv5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,156},{59,76}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{59,76}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>jianong_lv5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,73},{55,74}}</string>
                <key>offset</key>
                <string>{4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{55,74}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>jianong_lv5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,78},{59,76}}</string>
                <key>offset</key>
                <string>{6,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{59,76}}</string>
                <key>sourceSize</key>
                <string>{95,134}</string>
            </dict>
            <key>jianong_lv5_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,74}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,74}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Cannon_lv5-hd.pvr.ccz</string>
            <key>size</key>
            <string>{204,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87df4f9f0e4adf9e15712354782f4e21$</string>
            <key>textureFileName</key>
            <string>Cannon_lv5-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
