<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jianong_lv3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{70,62}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{70,62}}</string>
                <key>sourceSize</key>
                <string>{92,124}</string>
            </dict>
            <key>jianong_lv3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{70,74}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{70,74}}</string>
                <key>sourceSize</key>
                <string>{92,124}</string>
            </dict>
            <key>jianong_lv3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{74,66}}</string>
                <key>offset</key>
                <string>{8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{74,66}}</string>
                <key>sourceSize</key>
                <string>{92,124}</string>
            </dict>
            <key>jianong_lv3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{70,60}}</string>
                <key>offset</key>
                <string>{11,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,14},{70,60}}</string>
                <key>sourceSize</key>
                <string>{92,124}</string>
            </dict>
            <key>jianong_lv3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{70,62}}</string>
                <key>offset</key>
                <string>{11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{70,62}}</string>
                <key>sourceSize</key>
                <string>{92,124}</string>
            </dict>
            <key>jianong_lv3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{74,64}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{74,64}}</string>
                <key>sourceSize</key>
                <string>{92,124}</string>
            </dict>
            <key>jianong_lv3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{70,64}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{70,64}}</string>
                <key>sourceSize</key>
                <string>{92,124}</string>
            </dict>
            <key>jianong_lv3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,68},{60,58}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{60,58}}</string>
                <key>sourceSize</key>
                <string>{92,124}</string>
            </dict>
            <key>jianong_lv3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,68},{56,62}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,18},{56,62}}</string>
                <key>sourceSize</key>
                <string>{92,124}</string>
            </dict>
            <key>jianong_lv3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,68},{62,58}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{62,58}}</string>
                <key>sourceSize</key>
                <string>{92,124}</string>
            </dict>
            <key>jianong_lv3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{74,64}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{74,64}}</string>
                <key>sourceSize</key>
                <string>{92,124}</string>
            </dict>
            <key>jianong_lv3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,66},{70,60}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{70,60}}</string>
                <key>sourceSize</key>
                <string>{92,124}</string>
            </dict>
            <key>jianong_lv3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,66},{70,60}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{70,60}}</string>
                <key>sourceSize</key>
                <string>{92,124}</string>
            </dict>
            <key>jianong_lv3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{74,68}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{74,68}}</string>
                <key>sourceSize</key>
                <string>{92,124}</string>
            </dict>
            <key>jianong_lv3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{70,74}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{70,74}}</string>
                <key>sourceSize</key>
                <string>{92,124}</string>
            </dict>
            <key>jianong_lv3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,66},{60,76}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{92,124}</string>
            </dict>
            <key>jianong_lv3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,70},{56,72}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{56,72}}</string>
                <key>sourceSize</key>
                <string>{92,124}</string>
            </dict>
            <key>jianong_lv3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{62,76}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{62,76}}</string>
                <key>sourceSize</key>
                <string>{92,124}</string>
            </dict>
            <key>jianong_lv3_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,72}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,72}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Cannon_lv3-hd.pvr.ccz</string>
            <key>size</key>
            <string>{919,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb80cf5047e0323a0eb2eb0487905dfe$</string>
            <key>textureFileName</key>
            <string>Cannon_lv3-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
