<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiupao_lv5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,191},{53,60}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,26},{53,60}}</string>
                <key>sourceSize</key>
                <string>{123,146}</string>
            </dict>
            <key>jiupao_lv5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{53,64}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,22},{53,64}}</string>
                <key>sourceSize</key>
                <string>{123,146}</string>
            </dict>
            <key>jiupao_lv5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{55,64}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,22},{55,64}}</string>
                <key>sourceSize</key>
                <string>{123,146}</string>
            </dict>
            <key>jiupao_lv5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,123},{53,62}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{53,62}}</string>
                <key>sourceSize</key>
                <string>{123,146}</string>
            </dict>
            <key>jiupao_lv5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,121},{55,62}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,24},{55,62}}</string>
                <key>sourceSize</key>
                <string>{123,146}</string>
            </dict>
            <key>jiupao_lv5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,129},{53,60}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,26},{53,60}}</string>
                <key>sourceSize</key>
                <string>{123,146}</string>
            </dict>
            <key>jiupao_lv5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,183},{53,58}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,28},{53,58}}</string>
                <key>sourceSize</key>
                <string>{123,146}</string>
            </dict>
            <key>jiupao_lv5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,187},{53,58}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,28},{53,58}}</string>
                <key>sourceSize</key>
                <string>{123,146}</string>
            </dict>
            <key>jiupao_lv5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,123},{53,58}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,28},{53,58}}</string>
                <key>sourceSize</key>
                <string>{123,146}</string>
            </dict>
            <key>jiupao_lv5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,68},{53,60}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,26},{53,60}}</string>
                <key>sourceSize</key>
                <string>{123,146}</string>
            </dict>
            <key>jiupao_lv5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,57},{55,62}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,24},{55,62}}</string>
                <key>sourceSize</key>
                <string>{123,146}</string>
            </dict>
            <key>jiupao_lv5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,57},{55,62}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,24},{55,62}}</string>
                <key>sourceSize</key>
                <string>{123,146}</string>
            </dict>
            <key>jiupao_lv5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,178},{53,62}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,24},{53,62}}</string>
                <key>sourceSize</key>
                <string>{123,146}</string>
            </dict>
            <key>jiupao_lv5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,65},{53,62}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,24},{53,62}}</string>
                <key>sourceSize</key>
                <string>{123,146}</string>
            </dict>
            <key>jiupao_lv5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{53,64}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,22},{53,64}}</string>
                <key>sourceSize</key>
                <string>{123,146}</string>
            </dict>
            <key>jiupao_lv5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{53,64}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,22},{53,64}}</string>
                <key>sourceSize</key>
                <string>{123,146}</string>
            </dict>
            <key>jiupao_lv5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{53,66}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,20},{53,66}}</string>
                <key>sourceSize</key>
                <string>{123,146}</string>
            </dict>
            <key>jiupao_lv5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{53,66}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,20},{53,66}}</string>
                <key>sourceSize</key>
                <string>{123,146}</string>
            </dict>
            <key>jiupao_lv5_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,61}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{98,61}}</string>
                <key>sourceSize</key>
                <string>{140,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Mortar_lv5-hd.pvr.ccz</string>
            <key>size</key>
            <string>{291,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92281b16b5f18919904080f97ced3f8a$</string>
            <key>textureFileName</key>
            <string>Mortar_lv5-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
