<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiupao_lv7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,56},{52,65}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,20},{52,65}}</string>
                <key>sourceSize</key>
                <string>{114,151}</string>
            </dict>
            <key>jiupao_lv7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,110},{52,69}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,20},{52,69}}</string>
                <key>sourceSize</key>
                <string>{114,151}</string>
            </dict>
            <key>jiupao_lv7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,110},{54,71}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,18},{54,71}}</string>
                <key>sourceSize</key>
                <string>{114,151}</string>
            </dict>
            <key>jiupao_lv7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,164},{56,69}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,19},{56,69}}</string>
                <key>sourceSize</key>
                <string>{114,151}</string>
            </dict>
            <key>jiupao_lv7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{56,69}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,19},{56,69}}</string>
                <key>sourceSize</key>
                <string>{114,151}</string>
            </dict>
            <key>jiupao_lv7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,110},{54,65}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,22},{54,65}}</string>
                <key>sourceSize</key>
                <string>{114,151}</string>
            </dict>
            <key>jiupao_lv7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{52,59}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,26},{52,59}}</string>
                <key>sourceSize</key>
                <string>{114,151}</string>
            </dict>
            <key>jiupao_lv7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{52,59}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,26},{52,59}}</string>
                <key>sourceSize</key>
                <string>{114,151}</string>
            </dict>
            <key>jiupao_lv7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{52,61}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,24},{52,61}}</string>
                <key>sourceSize</key>
                <string>{114,151}</string>
            </dict>
            <key>jiupao_lv7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{52,63}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,22},{52,63}}</string>
                <key>sourceSize</key>
                <string>{114,151}</string>
            </dict>
            <key>jiupao_lv7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,56},{52,65}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,20},{52,65}}</string>
                <key>sourceSize</key>
                <string>{114,151}</string>
            </dict>
            <key>jiupao_lv7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,110},{56,65}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,21},{56,65}}</string>
                <key>sourceSize</key>
                <string>{114,151}</string>
            </dict>
            <key>jiupao_lv7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,166},{56,67}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,20},{56,67}}</string>
                <key>sourceSize</key>
                <string>{114,151}</string>
            </dict>
            <key>jiupao_lv7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,56},{52,67}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,21},{52,67}}</string>
                <key>sourceSize</key>
                <string>{114,151}</string>
            </dict>
            <key>jiupao_lv7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,65}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,23},{52,65}}</string>
                <key>sourceSize</key>
                <string>{114,151}</string>
            </dict>
            <key>jiupao_lv7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,56},{52,69}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,19},{52,69}}</string>
                <key>sourceSize</key>
                <string>{114,151}</string>
            </dict>
            <key>jiupao_lv7_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{52,71}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,18},{52,71}}</string>
                <key>sourceSize</key>
                <string>{114,151}</string>
            </dict>
            <key>jiupao_lv7_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{52,69}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,20},{52,69}}</string>
                <key>sourceSize</key>
                <string>{114,151}</string>
            </dict>
            <key>jiupao_lv7_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,177},{97,67}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{97,67}}</string>
                <key>sourceSize</key>
                <string>{133,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Mortar_lv7-hd.pvr.ccz</string>
            <key>size</key>
            <string>{344,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45a463744031044667e38578967aa3d7$</string>
            <key>textureFileName</key>
            <string>Mortar_lv7-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
