<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiupao_lv1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,62},{29,33}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{29,33}}</string>
                <key>sourceSize</key>
                <string>{37,73}</string>
            </dict>
            <key>jiupao_lv1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,95},{29,35}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{29,35}}</string>
                <key>sourceSize</key>
                <string>{37,73}</string>
            </dict>
            <key>jiupao_lv1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,93},{29,35}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{29,35}}</string>
                <key>sourceSize</key>
                <string>{37,73}</string>
            </dict>
            <key>jiupao_lv1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{29,35}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{29,35}}</string>
                <key>sourceSize</key>
                <string>{37,73}</string>
            </dict>
            <key>jiupao_lv1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,64},{29,35}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{29,35}}</string>
                <key>sourceSize</key>
                <string>{37,73}</string>
            </dict>
            <key>jiupao_lv1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{29,33}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{29,33}}</string>
                <key>sourceSize</key>
                <string>{37,73}</string>
            </dict>
            <key>jiupao_lv1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{27,33}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{27,33}}</string>
                <key>sourceSize</key>
                <string>{37,73}</string>
            </dict>
            <key>jiupao_lv1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2},{27,31}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{27,31}}</string>
                <key>sourceSize</key>
                <string>{37,73}</string>
            </dict>
            <key>jiupao_lv1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,62},{29,31}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{29,31}}</string>
                <key>sourceSize</key>
                <string>{37,73}</string>
            </dict>
            <key>jiupao_lv1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,33},{29,31}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{29,31}}</string>
                <key>sourceSize</key>
                <string>{37,73}</string>
            </dict>
            <key>jiupao_lv1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{29,33}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{29,33}}</string>
                <key>sourceSize</key>
                <string>{37,73}</string>
            </dict>
            <key>jiupao_lv1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,64},{29,35}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{29,35}}</string>
                <key>sourceSize</key>
                <string>{37,73}</string>
            </dict>
            <key>jiupao_lv1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,33},{29,35}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{29,35}}</string>
                <key>sourceSize</key>
                <string>{37,73}</string>
            </dict>
            <key>jiupao_lv1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,31},{29,35}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{29,35}}</string>
                <key>sourceSize</key>
                <string>{37,73}</string>
            </dict>
            <key>jiupao_lv1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{27,35}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{27,35}}</string>
                <key>sourceSize</key>
                <string>{37,73}</string>
            </dict>
            <key>jiupao_lv1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{27,35}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{27,35}}</string>
                <key>sourceSize</key>
                <string>{37,73}</string>
            </dict>
            <key>jiupao_lv1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,31},{29,35}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{29,35}}</string>
                <key>sourceSize</key>
                <string>{37,73}</string>
            </dict>
            <key>jiupao_lv1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{29,35}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{29,35}}</string>
                <key>sourceSize</key>
                <string>{37,73}</string>
            </dict>
            <key>jiupao_lv1_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,95},{40,31}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,31}}</string>
                <key>sourceSize</key>
                <string>{50,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Mortar_lv1.pvr.ccz</string>
            <key>size</key>
            <string>{183,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5f52915fcf86cff73ca083c5f6131ab$</string>
            <key>textureFileName</key>
            <string>Mortar_lv1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
