<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiupao_lv6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,80},{33,41}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{33,41}}</string>
                <key>sourceSize</key>
                <string>{69,91}</string>
            </dict>
            <key>jiupao_lv6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,44},{33,43}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{33,43}}</string>
                <key>sourceSize</key>
                <string>{69,91}</string>
            </dict>
            <key>jiupao_lv6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{33,43}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{33,43}}</string>
                <key>sourceSize</key>
                <string>{69,91}</string>
            </dict>
            <key>jiupao_lv6_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,80},{33,41}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{33,41}}</string>
                <key>sourceSize</key>
                <string>{69,91}</string>
            </dict>
            <key>jiupao_lv6_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,37},{33,41}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{33,41}}</string>
                <key>sourceSize</key>
                <string>{69,91}</string>
            </dict>
            <key>jiupao_lv6_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,80},{33,39}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{33,39}}</string>
                <key>sourceSize</key>
                <string>{69,91}</string>
            </dict>
            <key>jiupao_lv6_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,80},{33,39}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{33,39}}</string>
                <key>sourceSize</key>
                <string>{69,91}</string>
            </dict>
            <key>jiupao_lv6_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,80},{33,39}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{33,39}}</string>
                <key>sourceSize</key>
                <string>{69,91}</string>
            </dict>
            <key>jiupao_lv6_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,37},{33,41}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{33,41}}</string>
                <key>sourceSize</key>
                <string>{69,91}</string>
            </dict>
            <key>jiupao_lv6_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,37},{33,41}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{33,41}}</string>
                <key>sourceSize</key>
                <string>{69,91}</string>
            </dict>
            <key>jiupao_lv6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,89},{33,39}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{33,39}}</string>
                <key>sourceSize</key>
                <string>{69,91}</string>
            </dict>
            <key>jiupao_lv6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,37},{35,41}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{35,41}}</string>
                <key>sourceSize</key>
                <string>{69,91}</string>
            </dict>
            <key>jiupao_lv6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,37},{35,41}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{35,41}}</string>
                <key>sourceSize</key>
                <string>{69,91}</string>
            </dict>
            <key>jiupao_lv6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{33,41}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{33,41}}</string>
                <key>sourceSize</key>
                <string>{69,91}</string>
            </dict>
            <key>jiupao_lv6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{33,43}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{33,43}}</string>
                <key>sourceSize</key>
                <string>{69,91}</string>
            </dict>
            <key>jiupao_lv6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{33,43}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{33,43}}</string>
                <key>sourceSize</key>
                <string>{69,91}</string>
            </dict>
            <key>jiupao_lv6_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{33,43}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{33,43}}</string>
                <key>sourceSize</key>
                <string>{69,91}</string>
            </dict>
            <key>jiupao_lv6_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{33,43}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{33,43}}</string>
                <key>sourceSize</key>
                <string>{69,91}</string>
            </dict>
            <key>jiupao_lv6_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,40}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,40}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Mortar_lv6.pvr.ccz</string>
            <key>size</key>
            <string>{261,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36ce89ece1c7452c87ef693b697e59e2$</string>
            <key>textureFileName</key>
            <string>Mortar_lv6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
