<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiupao_lv2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,74},{31,35}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{31,35}}</string>
                <key>sourceSize</key>
                <string>{37,75}</string>
            </dict>
            <key>jiupao_lv2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{31,39}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{31,39}}</string>
                <key>sourceSize</key>
                <string>{37,75}</string>
            </dict>
            <key>jiupao_lv2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{31,39}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{31,39}}</string>
                <key>sourceSize</key>
                <string>{37,75}</string>
            </dict>
            <key>jiupao_lv2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{31,39}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{31,39}}</string>
                <key>sourceSize</key>
                <string>{37,75}</string>
            </dict>
            <key>jiupao_lv2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,35},{31,37}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{31,37}}</string>
                <key>sourceSize</key>
                <string>{37,75}</string>
            </dict>
            <key>jiupao_lv2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,74},{31,37}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{31,37}}</string>
                <key>sourceSize</key>
                <string>{37,75}</string>
            </dict>
            <key>jiupao_lv2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,35},{31,37}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{31,37}}</string>
                <key>sourceSize</key>
                <string>{37,75}</string>
            </dict>
            <key>jiupao_lv2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,74},{31,37}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{31,37}}</string>
                <key>sourceSize</key>
                <string>{37,75}</string>
            </dict>
            <key>jiupao_lv2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,72},{31,35}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{31,35}}</string>
                <key>sourceSize</key>
                <string>{37,75}</string>
            </dict>
            <key>jiupao_lv2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,35},{31,35}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{31,35}}</string>
                <key>sourceSize</key>
                <string>{37,75}</string>
            </dict>
            <key>jiupao_lv2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{31,35}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{31,35}}</string>
                <key>sourceSize</key>
                <string>{37,75}</string>
            </dict>
            <key>jiupao_lv2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,35},{31,37}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{31,37}}</string>
                <key>sourceSize</key>
                <string>{37,75}</string>
            </dict>
            <key>jiupao_lv2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,74},{31,37}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{31,37}}</string>
                <key>sourceSize</key>
                <string>{37,75}</string>
            </dict>
            <key>jiupao_lv2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,35},{31,37}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{31,37}}</string>
                <key>sourceSize</key>
                <string>{37,75}</string>
            </dict>
            <key>jiupao_lv2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,77},{31,37}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{31,37}}</string>
                <key>sourceSize</key>
                <string>{37,75}</string>
            </dict>
            <key>jiupao_lv2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,38},{31,37}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{31,37}}</string>
                <key>sourceSize</key>
                <string>{37,75}</string>
            </dict>
            <key>jiupao_lv2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{31,37}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{31,37}}</string>
                <key>sourceSize</key>
                <string>{37,75}</string>
            </dict>
            <key>jiupao_lv2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{31,37}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{31,37}}</string>
                <key>sourceSize</key>
                <string>{37,75}</string>
            </dict>
            <key>jiupao_lv2_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,34}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{47,34}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Mortar_lv2.pvr.ccz</string>
            <key>size</key>
            <string>{233,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a03654b46d4c9831ff3cf28f5de991b4$</string>
            <key>textureFileName</key>
            <string>Mortar_lv2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
