<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingxueta_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{71,83}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,83}}</string>
                <key>sourceSize</key>
                <string>{83,101}</string>
            </dict>
            <key>bingxueta_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,374},{70,82}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,82}}</string>
                <key>sourceSize</key>
                <string>{84,102}</string>
            </dict>
            <key>bingxueta_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,210},{71,85}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,85}}</string>
                <key>sourceSize</key>
                <string>{85,105}</string>
            </dict>
            <key>bingxueta_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{83,91}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,91}}</string>
                <key>sourceSize</key>
                <string>{95,107}</string>
            </dict>
            <key>bingxueta_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{87,94}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,94}}</string>
                <key>sourceSize</key>
                <string>{95,108}</string>
            </dict>
            <key>bingxueta_lv6.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,208},{85,92}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,92}}</string>
                <key>sourceSize</key>
                <string>{95,108}</string>
            </dict>
            <key>bingxueta_lv7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{85,92}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,92}}</string>
                <key>sourceSize</key>
                <string>{93,108}</string>
            </dict>
            <key>dilei.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,208},{27,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,25}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>fangkongta_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,237},{22,21}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{28,49}</string>
            </dict>
            <key>fangkongta_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,376},{31,34}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>fangkongta_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,376},{31,34}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>fangkongta_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,460},{31,36}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,36}}</string>
                <key>sourceSize</key>
                <string>{47,64}</string>
            </dict>
            <key>fangkongta_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,460},{33,34}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>fangkongta_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,376},{33,33}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{47,61}</string>
            </dict>
            <key>fangkongta_lv6.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,290},{33,37}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{47,65}</string>
            </dict>
            <key>jianta_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,411},{71,68}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,68}}</string>
                <key>sourceSize</key>
                <string>{83,96}</string>
            </dict>
            <key>jianta_lv10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,107}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,107}}</string>
                <key>sourceSize</key>
                <string>{132,111}</string>
            </dict>
            <key>jianta_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,297},{78,76}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{90,98}</string>
            </dict>
            <key>jianta_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,295},{80,77}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,77}}</string>
                <key>sourceSize</key>
                <string>{90,97}</string>
            </dict>
            <key>jianta_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,377},{81,79}}</string>
                <key>offset</key>
                <string>{-12,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,79}}</string>
                <key>sourceSize</key>
                <string>{105,97}</string>
            </dict>
            <key>jianta_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,290},{86,84}}</string>
                <key>offset</key>
                <string>{-13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,84}}</string>
                <key>sourceSize</key>
                <string>{112,100}</string>
            </dict>
            <key>jianta_lv6.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,107},{102,99}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,99}}</string>
                <key>sourceSize</key>
                <string>{112,103}</string>
            </dict>
            <key>jianta_lv7.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,197},{95,91}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,91}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>jianta_lv8.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,97},{107,98}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,98}}</string>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>jianta_lv9.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{107,103}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,103}}</string>
                <key>sourceSize</key>
                <string>{129,109}</string>
            </dict>
            <key>paota_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,446},{45,54}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>paota_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{50,65}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,65}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>paota_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,70},{50,66}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,66}}</string>
                <key>sourceSize</key>
                <string>{70,78}</string>
            </dict>
            <key>paota_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{50,66}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,66}}</string>
                <key>sourceSize</key>
                <string>{70,78}</string>
            </dict>
            <key>paota_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,138},{55,70}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,70}}</string>
                <key>sourceSize</key>
                <string>{77,84}</string>
            </dict>
            <key>paota_lv6.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,411},{63,74}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,74}}</string>
                <key>sourceSize</key>
                <string>{87,84}</string>
            </dict>
            <key>xianjin.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,370},{39,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,29}}</string>
                <key>sourceSize</key>
                <string>{39,29}</string>
            </dict>
            <key>xianjin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,329},{39,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,29}}</string>
                <key>sourceSize</key>
                <string>{39,29}</string>
            </dict>
            <key>zhaojizhayao.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,446},{47,49}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{47,53}</string>
            </dict>
            <key>zhongjita.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{113,93}}</string>
                <key>offset</key>
                <string>{-13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,93}}</string>
                <key>sourceSize</key>
                <string>{139,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_defenses_sprite.pvr.ccz</string>
            <key>size</key>
            <string>{391,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10f3364b7c43df2958ee3519728f1321$</string>
            <key>textureFileName</key>
            <string>s_defenses_sprite.pvr.ccz</string>
        </dict>
    </dict>
</plist>
