<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingxueta_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,249},{204,243}}</string>
                <key>offset</key>
                <string>{-20,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,243}}</string>
                <key>sourceSize</key>
                <string>{244,297}</string>
            </dict>
            <key>bingxueta_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,2},{204,245}}</string>
                <key>offset</key>
                <string>{-22,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,245}}</string>
                <key>sourceSize</key>
                <string>{248,301}</string>
            </dict>
            <key>bingxueta_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,529},{204,252}}</string>
                <key>offset</key>
                <string>{-23,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,252}}</string>
                <key>sourceSize</key>
                <string>{250,308}</string>
            </dict>
            <key>bingxueta_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,552},{240,269}}</string>
                <key>offset</key>
                <string>{-20,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,269}}</string>
                <key>sourceSize</key>
                <string>{280,315}</string>
            </dict>
            <key>bingxueta_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{252,273}}</string>
                <key>offset</key>
                <string>{-14,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,273}}</string>
                <key>sourceSize</key>
                <string>{280,317}</string>
            </dict>
            <key>bingxueta_lv6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,2},{248,271}}</string>
                <key>offset</key>
                <string>{-15,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,271}}</string>
                <key>sourceSize</key>
                <string>{278,317}</string>
            </dict>
            <key>bingxueta_lv7.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,277},{248,273}}</string>
                <key>offset</key>
                <string>{-13,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,273}}</string>
                <key>sourceSize</key>
                <string>{274,317}</string>
            </dict>
            <key>dilei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,494},{79,74}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,74}}</string>
                <key>sourceSize</key>
                <string>{85,74}</string>
            </dict>
            <key>fangkongta_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,727},{65,65}}</string>
                <key>offset</key>
                <string>{-9,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{83,145}</string>
            </dict>
            <key>fangkongta_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,619},{91,100}}</string>
                <key>offset</key>
                <string>{-23,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,100}}</string>
                <key>sourceSize</key>
                <string>{137,182}</string>
            </dict>
            <key>fangkongta_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,610},{91,100}}</string>
                <key>offset</key>
                <string>{-23,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,100}}</string>
                <key>sourceSize</key>
                <string>{137,182}</string>
            </dict>
            <key>fangkongta_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,619},{91,106}}</string>
                <key>offset</key>
                <string>{-23,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,106}}</string>
                <key>sourceSize</key>
                <string>{137,188}</string>
            </dict>
            <key>fangkongta_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1843,619},{93,99}}</string>
                <key>offset</key>
                <string>{-22,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,99}}</string>
                <key>sourceSize</key>
                <string>{137,181}</string>
            </dict>
            <key>fangkongta_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,619},{91,97}}</string>
                <key>offset</key>
                <string>{-23,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{137,179}</string>
            </dict>
            <key>fangkongta_lv6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,494},{95,108}}</string>
                <key>offset</key>
                <string>{-21,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,108}}</string>
                <key>sourceSize</key>
                <string>{137,190}</string>
            </dict>
            <key>jianta_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,592},{208,198}}</string>
                <key>offset</key>
                <string>{-18,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,198}}</string>
                <key>sourceSize</key>
                <string>{244,282}</string>
            </dict>
            <key>jianta_lv10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{322,316}}</string>
                <key>offset</key>
                <string>{-33,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,316}}</string>
                <key>sourceSize</key>
                <string>{388,326}</string>
            </dict>
            <key>jianta_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1817,2},{230,220}}</string>
                <key>offset</key>
                <string>{-17,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,220}}</string>
                <key>sourceSize</key>
                <string>{264,288}</string>
            </dict>
            <key>jianta_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,395},{230,222}}</string>
                <key>offset</key>
                <string>{-17,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,222}}</string>
                <key>sourceSize</key>
                <string>{264,284}</string>
            </dict>
            <key>jianta_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,2},{238,233}}</string>
                <key>offset</key>
                <string>{-36,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,233}}</string>
                <key>sourceSize</key>
                <string>{310,285}</string>
            </dict>
            <key>jianta_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,275},{252,248}}</string>
                <key>offset</key>
                <string>{-38,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,248}}</string>
                <key>sourceSize</key>
                <string>{328,294}</string>
            </dict>
            <key>jianta_lv6.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,2},{296,289}}</string>
                <key>offset</key>
                <string>{-16,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,289}}</string>
                <key>sourceSize</key>
                <string>{328,303}</string>
            </dict>
            <key>jianta_lv7.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,300},{280,290}}</string>
                <key>offset</key>
                <string>{-26,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,290}}</string>
                <key>sourceSize</key>
                <string>{332,304}</string>
            </dict>
            <key>jianta_lv8.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,318},{314,289}}</string>
                <key>offset</key>
                <string>{-33,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,289}}</string>
                <key>sourceSize</key>
                <string>{380,307}</string>
            </dict>
            <key>jianta_lv9.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{314,304}}</string>
                <key>offset</key>
                <string>{-33,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,304}}</string>
                <key>sourceSize</key>
                <string>{380,322}</string>
            </dict>
            <key>paota_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{131,162}}</string>
                <key>offset</key>
                <string>{-30,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,162}}</string>
                <key>sourceSize</key>
                <string>{191,206}</string>
            </dict>
            <key>paota_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,242},{143,191}}</string>
                <key>offset</key>
                <string>{-32,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,191}}</string>
                <key>sourceSize</key>
                <string>{207,227}</string>
            </dict>
            <key>paota_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,634},{145,194}}</string>
                <key>offset</key>
                <string>{-30,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,194}}</string>
                <key>sourceSize</key>
                <string>{205,230}</string>
            </dict>
            <key>paota_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,634},{145,192}}</string>
                <key>offset</key>
                <string>{-31,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,192}}</string>
                <key>sourceSize</key>
                <string>{207,228}</string>
            </dict>
            <key>paota_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1817,234},{159,204}}</string>
                <key>offset</key>
                <string>{-34,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,204}}</string>
                <key>sourceSize</key>
                <string>{227,246}</string>
            </dict>
            <key>paota_lv6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,387},{183,221}}</string>
                <key>offset</key>
                <string>{-36,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,221}}</string>
                <key>sourceSize</key>
                <string>{255,247}</string>
            </dict>
            <key>xianjin.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,660},{115,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,84}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>xianjin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,660},{115,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,84}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>zhaojizhayao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,619},{138,141}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,141}}</string>
                <key>sourceSize</key>
                <string>{138,155}</string>
            </dict>
            <key>zhongjita.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{332,271}}</string>
                <key>offset</key>
                <string>{-38,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,271}}</string>
                <key>sourceSize</key>
                <string>{408,291}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_defenses_sprite-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2039,794}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:902d5fa5cb724cf39756ae1f0d5fa339$</string>
            <key>textureFileName</key>
            <string>s_defenses_sprite-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
