<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wall_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,188},{66,69}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{66,69}}</string>
                <key>sourceSize</key>
                <string>{100,107}</string>
            </dict>
            <key>wall_lv1_ne.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,170},{94,87}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,87}}</string>
                <key>sourceSize</key>
                <string>{100,107}</string>
            </dict>
            <key>wall_lv1_nw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{76,87}}</string>
                <key>offset</key>
                <string>{-20,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,87}}</string>
                <key>sourceSize</key>
                <string>{116,107}</string>
            </dict>
            <key>wall_lv1_nwe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{106,89}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,89}}</string>
                <key>sourceSize</key>
                <string>{120,107}</string>
            </dict>
            <key>wall_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{70,76}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{70,76}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>wall_lv2_ne.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,91},{104,80}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{104,80}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>wall_lv2_nw.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,166},{80,80}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,80}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>wall_lv2_nwe.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{104,80}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{104,80}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>wall_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,188},{67,69}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{67,69}}</string>
                <key>sourceSize</key>
                <string>{75,91}</string>
            </dict>
            <key>wall_lv3_ne.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,171},{89,83}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{89,83}}</string>
                <key>sourceSize</key>
                <string>{99,103}</string>
            </dict>
            <key>wall_lv3_nw.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,171},{79,83}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{79,83}}</string>
                <key>sourceSize</key>
                <string>{99,103}</string>
            </dict>
            <key>wall_lv3_nwe.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,86},{99,83}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{99,83}}</string>
                <key>sourceSize</key>
                <string>{99,103}</string>
            </dict>
            <key>wall_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,94},{75,84}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,84}}</string>
                <key>sourceSize</key>
                <string>{89,96}</string>
            </dict>
            <key>wall_lv4_ne.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,2},{101,90}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{101,90}}</string>
                <key>sourceSize</key>
                <string>{103,108}</string>
            </dict>
            <key>wall_lv4_nw.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,94},{103,90}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,90}}</string>
                <key>sourceSize</key>
                <string>{103,108}</string>
            </dict>
            <key>wall_lv4_nwe.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{103,90}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,90}}</string>
                <key>sourceSize</key>
                <string>{103,108}</string>
            </dict>
            <key>wall_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,188},{80,74}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{80,74}}</string>
                <key>sourceSize</key>
                <string>{104,94}</string>
            </dict>
            <key>wall_lv5_ne.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,86},{100,82}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{100,82}}</string>
                <key>sourceSize</key>
                <string>{104,94}</string>
            </dict>
            <key>wall_lv5_nw.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,86},{86,82}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,82}}</string>
                <key>sourceSize</key>
                <string>{104,94}</string>
            </dict>
            <key>wall_lv5_nwe.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{104,82}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,82}}</string>
                <key>sourceSize</key>
                <string>{104,94}</string>
            </dict>
            <key>wall_lv6.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,171},{92,86}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{92,86}}</string>
                <key>sourceSize</key>
                <string>{116,100}</string>
            </dict>
            <key>wall_lv6_ne.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{98,95}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{98,95}}</string>
                <key>sourceSize</key>
                <string>{106,109}</string>
            </dict>
            <key>wall_lv6_nw.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,99},{98,87}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{98,87}}</string>
                <key>sourceSize</key>
                <string>{106,109}</string>
            </dict>
            <key>wall_lv6_nwe.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,2},{106,87}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{106,87}}</string>
                <key>sourceSize</key>
                <string>{106,109}</string>
            </dict>
            <key>wall_lv7.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,171},{93,74}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,20},{93,74}}</string>
                <key>sourceSize</key>
                <string>{107,114}</string>
            </dict>
            <key>wall_lv7_ne.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,93}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,93}}</string>
                <key>sourceSize</key>
                <string>{106,115}</string>
            </dict>
            <key>wall_lv7_nw.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,91},{98,77}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{98,77}}</string>
                <key>sourceSize</key>
                <string>{106,115}</string>
            </dict>
            <key>wall_lv7_nwe.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,173},{106,77}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{106,77}}</string>
                <key>sourceSize</key>
                <string>{106,115}</string>
            </dict>
            <key>wall_lv8.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,84},{80,80}}</string>
                <key>offset</key>
                <string>{-15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,1},{80,80}}</string>
                <key>sourceSize</key>
                <string>{190,96}</string>
            </dict>
            <key>wall_lv8_ne.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,2},{106,86}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{106,86}}</string>
                <key>sourceSize</key>
                <string>{114,100}</string>
            </dict>
            <key>wall_lv8_nw.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,170},{80,84}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{80,84}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>wall_lv8_nwe.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{104,82}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,82}}</string>
                <key>sourceSize</key>
                <string>{104,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_wall_sprite-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,266}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fe9e178af018f4168ebbf42ed2a5ca2$</string>
            <key>textureFileName</key>
            <string>s_wall_sprite-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
