<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/dragon1_attack1_0/dragon1_attack1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,344},{124,70}}</string>
                <key>offset</key>
                <string>{8,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,26},{124,70}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_0/dragon1_attack1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,330},{124,72}}</string>
                <key>offset</key>
                <string>{9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{124,72}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_0/dragon1_attack1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,194},{124,76}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{124,76}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_0/dragon1_attack1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,260},{124,72}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,27},{124,72}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_0/dragon1_attack1_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,256},{124,72}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{124,72}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_0/dragon1_attack1_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,182},{124,76}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{124,76}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,500},{42,30}}</string>
                <key>offset</key>
                <string>{-5,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,92},{42,30}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_1/dragon1_attack1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,520},{90,92}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{90,92}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_1/dragon1_attack1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,612},{80,90}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,22},{80,90}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_1/dragon1_attack1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{76,92}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,22},{76,92}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_1/dragon1_attack1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,514},{90,92}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,23},{90,92}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_1/dragon1_attack1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{82,92}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,22},{82,92}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_1/dragon1_attack1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,526},{76,90}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,22},{76,90}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_1/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,496},{42,30}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,88},{42,30}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_2/dragon1_attack1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,436},{114,92}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{114,92}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_2/dragon1_attack1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,344},{120,88}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,32},{120,88}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_2/dragon1_attack1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,328},{122,92}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,31},{122,92}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_2/dragon1_attack1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,432},{114,92}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,33},{114,92}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_2/dragon1_attack1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,342},{120,88}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,35},{120,88}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_2/dragon1_attack1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,320},{122,92}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,28},{122,92}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_2/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,464},{42,30}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,99},{42,30}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_3/dragon1_attack1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,124},{142,56}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,31},{142,56}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_3/dragon1_attack1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,126},{142,54}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,33},{142,54}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_3/dragon1_attack1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,70},{142,52}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{142,52}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_3/dragon1_attack1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,66},{142,56}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,33},{142,56}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_3/dragon1_attack1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,190},{140,54}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,34},{140,54}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_3/dragon1_attack1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,68},{142,52}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,35},{142,52}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_3/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,182},{42,32}}</string>
                <key>offset</key>
                <string>{-3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,96},{42,32}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_7/dragon1_attack1_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{140,68}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{140,68}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_7/dragon1_attack1_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,66}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{142,66}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_7/dragon1_attack1_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{140,64}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{140,64}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_7/dragon1_attack1_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,68}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{142,68}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_7/dragon1_attack1_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,124},{140,64}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{140,64}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_7/dragon1_attack1_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{142,62}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,31},{142,62}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>attack/dragon1_attack1_7/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,432},{42,30}}</string>
                <key>offset</key>
                <string>{-2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,94},{42,30}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>cheer/dragon1_cheer1_0/dragon1_cheer1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,276},{124,66}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,30},{124,66}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>cheer/dragon1_cheer1_0/dragon1_cheer1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,182},{124,72}}</string>
                <key>offset</key>
                <string>{8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,25},{124,72}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>cheer/dragon1_cheer1_0/dragon1_cheer1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{124,72}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{124,72}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>cheer/dragon1_cheer1_0/dragon1_cheer1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,272},{124,68}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,31},{124,68}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>cheer/dragon1_cheer1_0/dragon1_cheer1_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,254},{124,72}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{124,72}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>cheer/dragon1_cheer1_0/dragon1_cheer1_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,246},{124,72}}</string>
                <key>offset</key>
                <string>{8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,25},{124,72}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>cheer/dragon1_cheer1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,448},{42,30}}</string>
                <key>offset</key>
                <string>{4,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,92},{42,30}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>idle/dragon1_idle1_0/dragon1_idle1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,276},{124,66}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,30},{124,66}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>idle/dragon1_idle1_0/dragon1_idle1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,182},{124,72}}</string>
                <key>offset</key>
                <string>{8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,25},{124,72}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>idle/dragon1_idle1_0/dragon1_idle1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{124,72}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{124,72}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>idle/dragon1_idle1_0/dragon1_idle1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,272},{124,68}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,31},{124,68}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>idle/dragon1_idle1_0/dragon1_idle1_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,254},{124,72}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{124,72}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>idle/dragon1_idle1_0/dragon1_idle1_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,246},{124,72}}</string>
                <key>offset</key>
                <string>{8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,25},{124,72}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>idle/dragon1_idle1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,448},{42,30}}</string>
                <key>offset</key>
                <string>{4,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,92},{42,30}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_0/dragon1_run_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,276},{124,66}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,30},{124,66}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_0/dragon1_run_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{122,72}}</string>
                <key>offset</key>
                <string>{8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{122,72}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_0/dragon1_run_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{124,72}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{124,72}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_0/dragon1_run_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,272},{124,68}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,31},{124,68}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_0/dragon1_run_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,202},{124,72}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{124,72}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_0/dragon1_run_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,246},{124,72}}</string>
                <key>offset</key>
                <string>{8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,25},{124,72}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,404},{42,30}}</string>
                <key>offset</key>
                <string>{8,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,100},{42,30}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_1/dragon1_run_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,434},{90,92}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,23},{90,92}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_1/dragon1_run_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,606},{82,90}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,25},{82,90}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_1/dragon1_run_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{76,90}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,27},{76,90}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_1/dragon1_run_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,500},{90,92}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,25},{90,92}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_1/dragon1_run_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,526},{82,90}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,27},{82,90}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_1/dragon1_run_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,526},{74,90}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,25},{74,90}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_1/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,312},{42,30}}</string>
                <key>offset</key>
                <string>{3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,88},{42,30}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_2/dragon1_run_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,492},{114,94}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,28},{114,94}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_2/dragon1_run_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,414},{116,98}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{116,98}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_2/dragon1_run_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,334},{120,100}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,27},{120,100}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_2/dragon1_run_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,404},{114,94}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,35},{114,94}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_2/dragon1_run_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,422},{116,96}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,31},{116,96}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_2/dragon1_run_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{120,100}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{120,100}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_2/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,280},{42,30}}</string>
                <key>offset</key>
                <string>{1,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,108},{42,30}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_3/dragon1_run_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{142,64}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{142,64}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_3/dragon1_run_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,66},{142,60}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,31},{142,60}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_3/dragon1_run_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,64},{142,60}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,32},{142,60}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_3/dragon1_run_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{142,64}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{142,64}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_3/dragon1_run_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{142,62}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{142,62}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_3/dragon1_run_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{142,60}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,31},{142,60}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_3/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,248},{42,30}}</string>
                <key>offset</key>
                <string>{-4,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,100},{42,30}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_7/dragon1_run_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,122},{140,66}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{140,66}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_7/dragon1_run_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,136},{140,64}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{140,64}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_7/dragon1_run_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{140,62}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,33},{140,62}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_7/dragon1_run_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,68},{140,66}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{140,66}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_7/dragon1_run_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,128},{140,64}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,31},{140,64}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_7/dragon1_run_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,190},{140,62}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{140,62}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>walk/dragon1_run_7/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,216},{42,30}}</string>
                <key>offset</key>
                <string>{-3,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,92},{42,30}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Dragon-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,762}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1daf1c4d5059415eedd87eee0cd9cd77$</string>
            <key>textureFileName</key>
            <string>Dragon-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
