<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/dragon1_attack1_0/dragon1_attack1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{58,34}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{58,34}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_0/dragon1_attack1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,164},{58,34}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{58,34}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_0/dragon1_attack1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,96},{58,38}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{58,38}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_0/dragon1_attack1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,164},{58,34}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{58,34}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_0/dragon1_attack1_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,126},{58,36}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{58,36}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_0/dragon1_attack1_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,126},{58,36}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{58,36}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,102},{20,16}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,42},{20,16}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_1/dragon1_attack1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,246},{42,44}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{42,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_1/dragon1_attack1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,158},{38,44}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{38,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_1/dragon1_attack1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,310},{36,44}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{36,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_1/dragon1_attack1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,200},{42,44}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{42,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_1/dragon1_attack1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,112},{38,44}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_1/dragon1_attack1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,292},{36,44}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{36,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_1/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,158},{20,14}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,42},{20,14}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_2/dragon1_attack1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,246},{54,44}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{54,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_2/dragon1_attack1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,220},{56,42}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{56,42}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_2/dragon1_attack1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,96},{58,46}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{58,46}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_2/dragon1_attack1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,206},{54,44}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{54,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_2/dragon1_attack1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,200},{56,44}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{56,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_2/dragon1_attack1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,124},{58,44}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{58,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_2/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,142},{20,14}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,47},{20,14}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_3/dragon1_attack1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,98},{68,26}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{68,26}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_3/dragon1_attack1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,96},{68,26}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{68,26}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_3/dragon1_attack1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,68},{68,26}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{68,26}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_3/dragon1_attack1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,68},{68,26}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{68,26}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_3/dragon1_attack1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,68},{68,26}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{68,26}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_3/dragon1_attack1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,100},{68,24}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{68,24}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_3/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,90},{20,16}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,45},{20,16}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_7/dragon1_attack1_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,34}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{68,34}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_7/dragon1_attack1_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{68,32}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{68,32}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_7/dragon1_attack1_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,70},{68,30}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{68,30}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_7/dragon1_attack1_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,36},{68,32}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{68,32}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_7/dragon1_attack1_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{68,32}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{68,32}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_7/dragon1_attack1_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,68},{68,30}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{68,30}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>attack/dragon1_attack1_7/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,68},{20,16}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,43},{20,16}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>cheer/dragon1_cheer1_0/dragon1_cheer1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,186},{58,32}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{58,32}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>cheer/dragon1_cheer1_0/dragon1_cheer1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,212},{58,34}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{58,34}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>cheer/dragon1_cheer1_0/dragon1_cheer1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,174},{58,36}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{58,36}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>cheer/dragon1_cheer1_0/dragon1_cheer1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,152},{58,32}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{58,32}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>cheer/dragon1_cheer1_0/dragon1_cheer1_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,182},{58,34}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{58,34}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>cheer/dragon1_cheer1_0/dragon1_cheer1_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,144},{58,36}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{58,36}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>cheer/dragon1_cheer1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,46},{20,16}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,42},{20,16}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>idle/dragon1_idle1_0/dragon1_idle1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,186},{58,32}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{58,32}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>idle/dragon1_idle1_0/dragon1_idle1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,212},{58,34}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{58,34}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>idle/dragon1_idle1_0/dragon1_idle1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,174},{58,36}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{58,36}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>idle/dragon1_idle1_0/dragon1_idle1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,152},{58,32}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{58,32}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>idle/dragon1_idle1_0/dragon1_idle1_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,182},{58,34}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{58,34}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>idle/dragon1_idle1_0/dragon1_idle1_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,144},{58,36}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{58,36}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>idle/dragon1_idle1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,46},{20,16}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,42},{20,16}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_0/dragon1_run_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,186},{58,32}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{58,32}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_0/dragon1_run_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,170},{58,34}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{58,34}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_0/dragon1_run_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,174},{58,36}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{58,36}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_0/dragon1_run_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,152},{58,32}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{58,32}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_0/dragon1_run_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,136},{58,36}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{58,36}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_0/dragon1_run_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,144},{58,36}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{58,36}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,24},{20,16}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,46},{20,16}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_1/dragon1_run_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{44,44}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{44,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_1/dragon1_run_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,290},{40,44}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{40,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_1/dragon1_run_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,252},{36,44}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{36,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_1/dragon1_run_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,264},{44,44}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{44,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_1/dragon1_run_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,248},{40,44}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{40,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_1/dragon1_run_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,218},{36,44}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{36,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_1/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,126},{20,14}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,42},{20,14}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_2/dragon1_run_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,200},{54,46}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{54,46}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_2/dragon1_run_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{56,46}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{56,46}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_2/dragon1_run_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,102},{58,48}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{58,48}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_2/dragon1_run_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{54,46}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{54,46}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_2/dragon1_run_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,204},{56,46}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{56,46}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_2/dragon1_run_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{58,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{58,48}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_2/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,146},{20,14}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,51},{20,14}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_3/dragon1_run_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{68,32}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{68,32}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_3/dragon1_run_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,36},{68,30}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{68,30}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_3/dragon1_run_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,68},{68,28}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{68,28}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_3/dragon1_run_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{68,32}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{68,32}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_3/dragon1_run_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,36},{68,30}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{68,30}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_3/dragon1_run_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{68,28}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{68,28}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_3/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{20,16}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,46},{20,16}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_7/dragon1_run_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{68,32}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{68,32}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_7/dragon1_run_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{68,32}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{68,32}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_7/dragon1_run_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,36},{68,30}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{68,30}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_7/dragon1_run_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{68,32}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{68,32}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_7/dragon1_run_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,36},{68,30}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{68,30}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_7/dragon1_run_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,36},{68,30}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{68,30}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>walk/dragon1_run_7/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,124},{20,14}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,44},{20,14}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Dragon.pvr.ccz</string>
            <key>size</key>
            <string>{512,348}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8e632cf503b0528e76dcc65e8ef34a4$</string>
            <key>textureFileName</key>
            <string>Dragon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
