<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/dragon2_attack1_0/dragon2_attack1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,75},{125,71}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{125,71}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_0/dragon2_attack1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,2},{125,71}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{125,71}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_0/dragon2_attack1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{125,75}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{125,75}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_0/dragon2_attack1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,75},{125,69}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,27},{125,69}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_0/dragon2_attack1_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{125,71}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{125,71}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_0/dragon2_attack1_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,75}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{125,75}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,416},{41,29}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,90},{41,29}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_1/dragon2_attack1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,361},{87,89}}</string>
                <key>offset</key>
                <string>{-16,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{87,89}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_1/dragon2_attack1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,450},{81,89}}</string>
                <key>offset</key>
                <string>{-16,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,18},{81,89}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_1/dragon2_attack1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,437},{75,89}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,21},{75,89}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_1/dragon2_attack1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,311},{87,89}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,22},{87,89}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_1/dragon2_attack1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,416},{81,89}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,21},{81,89}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_1/dragon2_attack1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,493},{75,87}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,19},{75,87}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_1/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,425},{41,29}}</string>
                <key>offset</key>
                <string>{-5,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,85},{41,29}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_2/dragon2_attack1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,467},{107,81}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{107,81}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_2/dragon2_attack1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,400},{113,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,29},{113,77}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_2/dragon2_attack1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,301},{115,83}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,27},{115,83}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_2/dragon2_attack1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,435},{107,81}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,30},{107,81}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_2/dragon2_attack1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,386},{113,79}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,31},{113,79}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_2/dragon2_attack1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,317},{115,81}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,25},{115,81}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_2/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,394},{41,29}}</string>
                <key>offset</key>
                <string>{-3,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,87},{41,29}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_3/dragon2_attack1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,299},{117,45}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,35},{117,45}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_3/dragon2_attack1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,199},{119,43}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,38},{119,43}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_3/dragon2_attack1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,197},{119,43}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,41},{119,43}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_3/dragon2_attack1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,195},{119,45}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,40},{119,45}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_3/dragon2_attack1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,148},{119,45}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,39},{119,45}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_3/dragon2_attack1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{119,41}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,40},{119,41}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_3/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,363},{41,29}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,86},{41,29}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_7/dragon2_attack1_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,215},{117,57}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,27},{117,57}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_7/dragon2_attack1_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,260},{117,55}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,31},{117,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_7/dragon2_attack1_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,274},{117,53}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,35},{117,53}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_7/dragon2_attack1_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,215},{117,57}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{117,57}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_7/dragon2_attack1_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,244},{117,55}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,33},{117,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_7/dragon2_attack1_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,242},{117,53}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,33},{117,53}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>attack/dragon2_attack1_7/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,373},{41,29}}</string>
                <key>offset</key>
                <string>{-5,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,89},{41,29}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>cheer/dragon2_cheer1_0/dragon2_cheer1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,146},{125,67}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{125,67}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>cheer/dragon2_cheer1_0/dragon2_cheer1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,75},{125,69}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{125,69}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>cheer/dragon2_cheer1_0/dragon2_cheer1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{125,73}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{125,73}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>cheer/dragon2_cheer1_0/dragon2_cheer1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,75},{125,69}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{125,69}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>cheer/dragon2_cheer1_0/dragon2_cheer1_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,79},{125,69}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,26},{125,69}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>cheer/dragon2_cheer1_0/dragon2_cheer1_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,2},{125,71}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{125,71}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>cheer/dragon2_cheer1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,342},{41,29}}</string>
                <key>offset</key>
                <string>{-12,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,89},{41,29}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>idle/dragon2_idle1_0/dragon2_idle1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,146},{125,67}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{125,67}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>idle/dragon2_idle1_0/dragon2_idle1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,75},{125,69}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{125,69}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>idle/dragon2_idle1_0/dragon2_idle1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{125,73}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{125,73}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>idle/dragon2_idle1_0/dragon2_idle1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,75},{125,69}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{125,69}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>idle/dragon2_idle1_0/dragon2_idle1_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,79},{125,69}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,26},{125,69}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>idle/dragon2_idle1_0/dragon2_idle1_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,2},{125,71}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{125,71}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>idle/dragon2_idle1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,342},{41,29}}</string>
                <key>offset</key>
                <string>{-12,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,89},{41,29}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_0/dragon2_run_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,146},{125,67}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{125,67}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_0/dragon2_run_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{125,69}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{125,69}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_0/dragon2_run_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{125,73}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{125,73}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_0/dragon2_run_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,77},{125,69}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{125,69}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_0/dragon2_run_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,77},{125,69}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,26},{125,69}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_0/dragon2_run_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{125,71}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{125,71}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,311},{41,29}}</string>
                <key>offset</key>
                <string>{-5,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,91},{41,29}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_1/dragon2_run_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{89,87}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{89,87}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_1/dragon2_run_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,404},{83,87}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{83,87}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_1/dragon2_run_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,485},{73,89}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,23},{73,89}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_1/dragon2_run_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,479},{89,87}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{89,87}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_1/dragon2_run_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,400},{83,89}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,23},{83,89}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_1/dragon2_run_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,499},{73,87}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,22},{73,87}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_1/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,332},{41,29}}</string>
                <key>offset</key>
                <string>{-2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,83},{41,29}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_2/dragon2_run_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,350},{107,85}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{107,85}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_2/dragon2_run_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,274},{109,85}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{109,85}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_2/dragon2_run_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,346},{113,87}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{113,87}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_2/dragon2_run_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,329},{107,85}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,30},{107,85}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_2/dragon2_run_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{109,85}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{109,85}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_2/dragon2_run_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{113,89}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{113,89}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_2/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,301},{41,29}}</string>
                <key>offset</key>
                <string>{6,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,88},{41,29}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_3/dragon2_run_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,146},{119,53}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,31},{119,53}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_3/dragon2_run_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,150},{119,49}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,35},{119,49}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_3/dragon2_run_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,148},{119,47}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,39},{119,47}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_3/dragon2_run_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,201},{119,51}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,37},{119,51}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_3/dragon2_run_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{119,49}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,37},{119,49}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_3/dragon2_run_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,148},{119,49}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,35},{119,49}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_3/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,258},{41,29}}</string>
                <key>offset</key>
                <string>{4,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,87},{41,29}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_7/dragon2_run_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{117,57}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,29},{117,57}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_7/dragon2_run_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,242},{117,55}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,31},{117,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_7/dragon2_run_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{117,53}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,36},{117,53}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_7/dragon2_run_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,201},{117,57}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,33},{117,57}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_7/dragon2_run_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,254},{117,55}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,34},{117,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_7/dragon2_run_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,297},{117,51}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,35},{117,51}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>walk/dragon2_run_7/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,215},{41,29}}</string>
                <key>offset</key>
                <string>{-7,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,92},{41,29}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Dragon2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1022,625}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:318d57e564cbb2850b8505d1a74fd700$</string>
            <key>textureFileName</key>
            <string>Dragon2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
