<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/goblin2_attack1_0/goblin2_attack1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{16,28}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{16,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_0/goblin2_attack1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,82},{18,26}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_0/goblin2_attack1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,20},{20,26}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_0/goblin2_attack1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,194},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{22,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_0/goblin2_attack1_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{16,24}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{16,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_0/goblin2_attack1_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,24},{22,26}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{22,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_0/goblin2_attack1_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{18,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{18,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,164},{14,12}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,19},{14,12}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_1/goblin2_attack1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,128},{18,24}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{18,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_1/goblin2_attack1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,66},{18,26}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{18,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_1/goblin2_attack1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,62},{18,26}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{18,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_1/goblin2_attack1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,176},{16,24}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{16,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_1/goblin2_attack1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{26,22}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{26,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_1/goblin2_attack1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,108},{24,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{24,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_1/goblin2_attack1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,48},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{22,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_1/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{14,12}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,20},{14,12}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_2/goblin2_attack1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,194},{20,22}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{20,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_2/goblin2_attack1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,218},{20,22}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{20,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_2/goblin2_attack1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,164},{18,22}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{18,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_2/goblin2_attack1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,134},{20,24}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{20,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_2/goblin2_attack1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{28,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_2/goblin2_attack1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,164},{20,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{20,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_2/goblin2_attack1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{22,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_2/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{14,12}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,19},{14,12}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_3/goblin2_attack1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,148},{18,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{18,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_3/goblin2_attack1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,164},{18,22}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{18,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_3/goblin2_attack1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,194},{20,22}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{20,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_3/goblin2_attack1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,48},{24,20}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{24,20}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_3/goblin2_attack1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,218},{20,22}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{20,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_3/goblin2_attack1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,164},{16,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{16,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_3/goblin2_attack1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,162},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{16,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_3/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{14,12}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{14,12}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_7/goblin2_attack1_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,64},{18,26}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{18,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_7/goblin2_attack1_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,20},{20,26}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{20,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_7/goblin2_attack1_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{20,28}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_7/goblin2_attack1_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{22,28}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_7/goblin2_attack1_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{24,22}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{24,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_7/goblin2_attack1_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,140},{20,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{20,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_7/goblin2_attack1_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,62},{18,26}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{18,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>attack/goblin2_attack1_7/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,132},{14,12}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,18},{14,12}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>cheer/goblin2_cheer1_0/goblin2_cheer1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{16,28}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{16,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>cheer/goblin2_cheer1_0/goblin2_cheer1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,104},{16,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{16,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>cheer/goblin2_cheer1_0/goblin2_cheer1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,100},{16,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{16,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>cheer/goblin2_cheer1_0/goblin2_cheer1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,146},{16,24}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{16,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>cheer/goblin2_cheer1_0/goblin2_cheer1_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,86},{16,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{16,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>cheer/goblin2_cheer1_0/goblin2_cheer1_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{16,28}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{16,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>cheer/goblin2_cheer1_0/goblin2_cheer1_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{16,28}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{16,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>cheer/goblin2_cheer1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,164},{14,12}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,19},{14,12}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>idle/goblin2_idle_0/goblin2_idle_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{16,28}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{16,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>idle/goblin2_idle_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,164},{14,12}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,19},{14,12}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_0/goblin2_run_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,122},{20,24}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{20,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_0/goblin2_run_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,46},{18,26}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{18,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_0/goblin2_run_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,82},{16,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{16,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_0/goblin2_run_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,44},{18,26}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_0/goblin2_run_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,110},{18,24}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{18,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_0/goblin2_run_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,46},{18,26}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{18,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_0/goblin2_run_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,26},{20,26}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{20,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_0/goblin2_run_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,124},{20,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{20,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,116},{14,12}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,18},{14,12}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_1/goblin2_run_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,164},{20,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{20,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_1/goblin2_run_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,92},{18,24}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{18,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_1/goblin2_run_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,42},{18,26}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{18,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_1/goblin2_run_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,22},{22,26}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{22,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_1/goblin2_run_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,118},{20,24}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{20,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_1/goblin2_run_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,102},{20,24}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{20,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_1/goblin2_run_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,106},{20,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{20,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_1/goblin2_run_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,194},{20,22}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{20,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_1/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,100},{14,12}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,19},{14,12}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_2/goblin2_run_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,168},{20,20}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{20,20}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_2/goblin2_run_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,218},{20,22}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{20,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_2/goblin2_run_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,88},{20,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{20,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_2/goblin2_run_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,20},{22,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{22,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_2/goblin2_run_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,82},{22,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{22,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_2/goblin2_run_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,130},{22,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{22,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_2/goblin2_run_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,130},{20,22}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{20,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_2/goblin2_run_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,134},{20,22}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{20,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_2/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,84},{14,12}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,19},{14,12}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_3/goblin2_run_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,92},{18,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{18,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_3/goblin2_run_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,112},{20,22}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{20,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_3/goblin2_run_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{18,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{18,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_3/goblin2_run_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,42},{18,26}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{18,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_3/goblin2_run_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,84},{20,24}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{20,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_3/goblin2_run_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,164},{20,22}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{20,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_3/goblin2_run_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,70},{20,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{20,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_3/goblin2_run_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,66},{20,24}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{20,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_3/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,16},{14,12}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{14,12}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_7/goblin2_run_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,72},{18,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{18,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_7/goblin2_run_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{18,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{18,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_7/goblin2_run_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,156},{18,24}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{18,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_7/goblin2_run_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,26},{18,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{18,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_7/goblin2_run_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,144},{18,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{18,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_7/goblin2_run_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{20,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{20,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_7/goblin2_run_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,56},{20,24}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{20,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_7/goblin2_run_7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,30},{20,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{20,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk/goblin2_run_7/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{14,12}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{14,12}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Goblin2.pvr.ccz</string>
            <key>size</key>
            <string>{256,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b1e8e355a489a5df66e7497cbe1a686$</string>
            <key>textureFileName</key>
            <string>Goblin2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
