<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/goblin1_attack1_0/goblin1_attack1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{33,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{33,57}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_0/goblin1_attack1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,112},{39,53}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{39,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_0/goblin1_attack1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{43,55}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{43,55}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_0/goblin1_attack1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,377},{47,47}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{47,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_0/goblin1_attack1_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,55},{33,51}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{33,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_0/goblin1_attack1_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,167},{45,51}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{45,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_0/goblin1_attack1_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,2},{39,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{39,57}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,409},{31,24}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,44},{31,24}}</string>
                <key>sourceSize</key>
                <string>{67,74}</string>
            </dict>
            <key>attack/goblin1_attack1_1/goblin1_attack1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,220},{39,51}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{39,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_1/goblin1_attack1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,407},{37,53}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,9},{37,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_1/goblin1_attack1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,283},{39,51}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,11},{39,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_1/goblin1_attack1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,261},{35,47}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{35,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_1/goblin1_attack1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,179},{53,49}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{53,49}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_1/goblin1_attack1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{53,51}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{53,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_1/goblin1_attack1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,462},{47,51}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{47,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_1/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,376},{31,24}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,46},{31,24}}</string>
                <key>sourceSize</key>
                <string>{67,74}</string>
            </dict>
            <key>attack/goblin1_attack1_2/goblin1_attack1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,51},{41,45}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{41,45}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_2/goblin1_attack1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,371},{39,47}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,18},{39,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_2/goblin1_attack1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,365},{37,47}}</string>
                <key>offset</key>
                <string>{15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{37,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_2/goblin1_attack1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,426},{41,47}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{41,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_2/goblin1_attack1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{57,49}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{57,49}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_2/goblin1_attack1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,389},{43,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{43,49}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_2/goblin1_attack1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,322},{45,47}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{45,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_2/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,442},{29,24}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,44},{29,24}}</string>
                <key>sourceSize</key>
                <string>{67,74}</string>
            </dict>
            <key>attack/goblin1_attack1_3/goblin1_attack1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,316},{37,47}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{37,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_3/goblin1_attack1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{39,45}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{39,45}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_3/goblin1_attack1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,208},{45,45}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{45,45}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_3/goblin1_attack1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,297},{53,43}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{53,43}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_3/goblin1_attack1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{41,47}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{41,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_3/goblin1_attack1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,463},{35,47}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{35,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_3/goblin1_attack1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,414},{35,47}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{35,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_3/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,343},{31,24}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,43},{31,24}}</string>
                <key>sourceSize</key>
                <string>{67,74}</string>
            </dict>
            <key>attack/goblin1_attack1_7/goblin1_attack1_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,352},{37,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{37,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_7/goblin1_attack1_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,240},{39,55}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{39,55}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_7/goblin1_attack1_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,59}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{43,59}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_7/goblin1_attack1_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,57},{53,43}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{53,43}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_7/goblin1_attack1_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,216},{41,49}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{41,49}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_7/goblin1_attack1_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,108},{33,51}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{33,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_7/goblin1_attack1_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,344},{35,53}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{35,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin1_attack1_7/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,343},{31,24}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,43},{31,24}}</string>
                <key>sourceSize</key>
                <string>{67,74}</string>
            </dict>
            <key>cheer/goblin1_cheer1_0/goblin1_cheer1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{33,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{33,57}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>cheer/goblin1_cheer1_0/goblin1_cheer1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,289},{35,53}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{35,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>cheer/goblin1_cheer1_0/goblin1_cheer1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,273},{35,51}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{35,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>cheer/goblin1_cheer1_0/goblin1_cheer1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,336},{35,51}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{35,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>cheer/goblin1_cheer1_0/goblin1_cheer1_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{35,55}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{35,55}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>cheer/goblin1_cheer1_0/goblin1_cheer1_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{35,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{35,57}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>cheer/goblin1_cheer1_0/goblin1_cheer1_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{35,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{35,57}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>cheer/goblin1_cheer1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,255},{31,24}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,44},{31,24}}</string>
                <key>sourceSize</key>
                <string>{67,74}</string>
            </dict>
            <key>idle/goblin1_idle1_0/goblin1_idle1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{33,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{33,57}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>idle/goblin1_idle1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,255},{31,24}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,44},{31,24}}</string>
                <key>sourceSize</key>
                <string>{67,74}</string>
            </dict>
            <key>walk/goblin1_run_0/goblin1_run_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,61},{37,55}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{37,55}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_0/goblin1_run_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{39,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_0/goblin1_run_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,161},{39,49}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{39,49}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_0/goblin1_run_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,173},{39,53}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{39,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_0/goblin1_run_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{35,51}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{35,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_0/goblin1_run_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{37,53}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{37,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_0/goblin1_run_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,110},{37,51}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{37,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_0/goblin1_run_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,122},{37,55}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{37,55}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,149},{29,24}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,43},{29,24}}</string>
                <key>sourceSize</key>
                <string>{67,74}</string>
            </dict>
            <key>walk/goblin1_run_1/goblin1_run_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,57},{39,51}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{39,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_1/goblin1_run_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,102},{41,45}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{41,45}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_1/goblin1_run_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,53},{43,47}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{43,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_1/goblin1_run_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,271},{41,49}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{41,49}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_1/goblin1_run_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,234},{39,53}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{39,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_1/goblin1_run_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,112},{43,51}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{43,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_1/goblin1_run_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,104},{43,47}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{43,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_1/goblin1_run_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,326},{41,49}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{41,49}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_1/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,200},{29,24}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,43},{29,24}}</string>
                <key>sourceSize</key>
                <string>{67,74}</string>
            </dict>
            <key>walk/goblin1_run_2/goblin1_run_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,469},{41,45}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{41,45}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_2/goblin1_run_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,159},{43,47}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{43,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_2/goblin1_run_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,153},{43,45}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{43,45}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_2/goblin1_run_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,212},{43,47}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{43,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_2/goblin1_run_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{43,49}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{43,49}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_2/goblin1_run_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,118},{45,53}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{45,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_2/goblin1_run_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,462},{47,51}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{47,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_2/goblin1_run_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,267},{43,47}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{43,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_2/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,310},{31,24}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,43},{31,24}}</string>
                <key>sourceSize</key>
                <string>{67,74}</string>
            </dict>
            <key>walk/goblin1_run_3/goblin1_run_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,440},{33,49}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{33,49}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_3/goblin1_run_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,163},{33,51}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{33,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_3/goblin1_run_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,440},{35,49}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{35,49}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_3/goblin1_run_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,420},{37,47}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{37,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_3/goblin1_run_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,108},{37,49}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{37,49}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_3/goblin1_run_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,55},{35,51}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{35,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_3/goblin1_run_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,2},{35,49}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{35,49}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_3/goblin1_run_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,475},{35,47}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{35,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_3/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,255},{29,24}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,45},{29,24}}</string>
                <key>sourceSize</key>
                <string>{67,74}</string>
            </dict>
            <key>walk/goblin1_run_7/goblin1_run_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,228},{33,53}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{33,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_7/goblin1_run_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,218},{33,51}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{33,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_7/goblin1_run_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,53},{35,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{35,49}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_7/goblin1_run_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,165},{37,51}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{37,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_7/goblin1_run_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,57},{37,53}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{37,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_7/goblin1_run_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,407},{35,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{35,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_7/goblin1_run_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,352},{35,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{35,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_7/goblin1_run_7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,399},{33,53}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{33,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin1_run_7/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,288},{29,25}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,40},{29,25}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Goblin1-hd.pvr.ccz</string>
            <key>size</key>
            <string>{424,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90e0f634489f4527a5ca35dcf78604ec$</string>
            <key>textureFileName</key>
            <string>Goblin1-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
