<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/healer1_attack1_0/healer1_attack1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,179},{47,55}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{47,55}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_0/healer1_attack1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,136},{59,61}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{59,61}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_0/healer1_attack1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,71},{47,63}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{47,63}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_0/healer1_attack1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,453},{57,57}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{57,57}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_0/healer1_attack1_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,57},{43,51}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,31},{43,51}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_0/healer1_attack1_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,114},{41,53}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,28},{41,53}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_0/healer1_attack1_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{43,53}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{43,53}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_0/healer1_attack1_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,366},{47,57}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{47,57}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,29},{25,21}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,66},{25,21}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_1/healer1_attack1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,126},{31,59}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,11},{31,59}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_1/healer1_attack1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{45,63}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,12},{45,63}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_1/healer1_attack1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,266},{45,61}}</string>
                <key>offset</key>
                <string>{22,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,13},{45,61}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_1/healer1_attack1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,136},{43,63}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{43,63}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_1/healer1_attack1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,65},{53,55}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{53,55}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_1/healer1_attack1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,452},{53,55}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{53,55}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_1/healer1_attack1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,307},{51,57}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{51,57}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_1/healer1_attack1_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,392},{45,59}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{45,59}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_1/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{25,21}}</string>
                <key>offset</key>
                <string>{9,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,66},{25,21}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_2/healer1_attack1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,280},{41,65}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{41,65}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_2/healer1_attack1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,412},{47,63}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,13},{47,63}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_2/healer1_attack1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,323},{41,59}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,14},{41,59}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_2/healer1_attack1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{43,67}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{43,67}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_2/healer1_attack1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,284},{49,65}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{49,65}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_2/healer1_attack1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,73},{45,67}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{45,67}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_2/healer1_attack1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{43,67}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{43,67}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_2/healer1_attack1_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,424},{43,65}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{43,65}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_2/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,29},{25,21}}</string>
                <key>offset</key>
                <string>{1,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,68},{25,21}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_3/healer1_attack1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,144},{47,67}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{47,67}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_3/healer1_attack1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,418},{55,63}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{55,63}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_3/healer1_attack1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,248},{53,57}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{53,57}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_3/healer1_attack1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{49,67}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{49,67}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_3/healer1_attack1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{41,69}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,3},{41,69}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_3/healer1_attack1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{31,69}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,3},{31,69}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_3/healer1_attack1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{29,69}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,3},{29,69}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_3/healer1_attack1_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{33,69}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{33,69}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_3/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,2},{25,21}}</string>
                <key>offset</key>
                <string>{-4,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,70},{25,21}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_7/healer1_attack1_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{49,61}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{49,61}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_7/healer1_attack1_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,67},{55,61}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{55,61}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_7/healer1_attack1_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,347},{51,63}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{51,63}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_7/healer1_attack1_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,59},{51,53}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{51,53}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_7/healer1_attack1_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,179},{41,53}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,33},{41,53}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_7/healer1_attack1_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,452},{31,57}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,28},{31,57}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_7/healer1_attack1_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,187},{29,59}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,21},{29,59}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_7/healer1_attack1_7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,477},{33,63}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,15},{33,63}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer1_attack1_7/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,425},{25,21}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,65},{25,21}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>cheer/healer1_cheer1_0/healer1_cheer1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,122},{47,55}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{47,55}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>cheer/healer1_cheer1_0/healer1_cheer1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{49,55}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{49,55}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>cheer/healer1_cheer1_0/healer1_cheer1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,122},{45,55}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{45,55}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>cheer/healer1_cheer1_0/healer1_cheer1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{49,55}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{49,55}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>cheer/healer1_cheer1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,425},{25,21}}</string>
                <key>offset</key>
                <string>{3,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,65},{25,21}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>idle/healer1_idle1_0/healer1_idle1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,122},{47,55}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{47,55}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>idle/healer1_idle1_0/healer1_idle1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{49,55}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{49,55}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>idle/healer1_idle1_0/healer1_idle1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,122},{45,55}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{45,55}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>idle/healer1_idle1_0/healer1_idle1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{49,55}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{49,55}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>idle/healer1_idle1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,425},{25,21}}</string>
                <key>offset</key>
                <string>{3,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,65},{25,21}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer1_run_0/healer1_run_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,122},{47,55}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{47,55}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer1_run_0/healer1_run_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{49,55}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{49,55}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer1_run_0/healer1_run_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,122},{45,55}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{45,55}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer1_run_0/healer1_run_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{49,55}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{49,55}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer1_run_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,425},{25,21}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,65},{25,21}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer1_run_1/healer1_run_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,65},{31,59}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,11},{31,59}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer1_run_1/healer1_run_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,384},{37,59}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,11},{37,59}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer1_run_1/healer1_run_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,262},{45,59}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,11},{45,59}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer1_run_1/healer1_run_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,384},{37,59}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,11},{37,59}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer1_run_1/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,453},{25,21}}</string>
                <key>offset</key>
                <string>{6,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,67},{25,21}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer1_run_2/healer1_run_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,351},{41,65}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{41,65}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer1_run_2/healer1_run_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,213},{43,65}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{43,65}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer1_run_2/healer1_run_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,201},{41,63}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{41,63}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer1_run_2/healer1_run_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,351},{41,65}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{41,65}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer1_run_2/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,483},{25,21}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,67},{25,21}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer1_run_3/healer1_run_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,215},{47,67}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{47,67}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer1_run_3/healer1_run_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,355},{41,67}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{41,67}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer1_run_3/healer1_run_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,2},{43,67}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{43,67}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer1_run_3/healer1_run_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,215},{47,67}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{47,67}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer1_run_3/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,483},{25,21}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,68},{25,21}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer1_run_7/healer1_run_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{49,61}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{49,61}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer1_run_7/healer1_run_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,329},{41,61}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{41,61}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer1_run_7/healer1_run_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,199},{43,61}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{43,61}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer1_run_7/healer1_run_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{49,61}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{49,61}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer1_run_7/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,483},{25,21}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,63},{25,21}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Healer1-hd.pvr.ccz</string>
            <key>size</key>
            <string>{381,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa5aa75f5cc1c09dbc66b5639bc47080$</string>
            <key>textureFileName</key>
            <string>Healer1-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
