<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/healer1_attack1_0/healer1_attack1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,97},{23,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{23,27}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_0/healer1_attack1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,72},{29,31}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{29,31}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_0/healer1_attack1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,177},{23,31}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{23,31}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_0/healer1_attack1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,169},{29,29}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{29,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_0/healer1_attack1_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,91},{21,25}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{21,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_0/healer1_attack1_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,192},{21,27}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{21,27}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_0/healer1_attack1_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,126},{21,25}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{21,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_0/healer1_attack1_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,130},{23,27}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{23,27}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,17},{13,11}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,31},{13,11}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_1/healer1_attack1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,66},{15,29}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{15,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_1/healer1_attack1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,212},{23,31}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{23,31}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_1/healer1_attack1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,212},{23,31}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{23,31}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_1/healer1_attack1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{23,31}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{23,31}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_1/healer1_attack1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{25,27}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{25,27}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_1/healer1_attack1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,136},{27,29}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{27,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_1/healer1_attack1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,68},{25,29}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{25,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_1/healer1_attack1_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{23,29}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{23,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_1/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{13,11}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,31},{13,11}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_2/healer1_attack1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{21,31}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{21,31}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_2/healer1_attack1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,144},{25,31}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{25,31}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_2/healer1_attack1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,167},{21,29}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{21,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_2/healer1_attack1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,109},{21,33}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{21,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_2/healer1_attack1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{23,33}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{23,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_2/healer1_attack1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,35},{23,31}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{23,31}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_2/healer1_attack1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,144},{21,33}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{21,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_2/healer1_attack1_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,35},{21,31}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{21,31}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_2/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,46},{13,11}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,32},{13,11}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_3/healer1_attack1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{25,33}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{25,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_3/healer1_attack1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,179},{27,31}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{27,31}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_3/healer1_attack1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,101},{25,29}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{25,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_3/healer1_attack1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,2},{25,33}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{25,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_3/healer1_attack1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{21,33}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{21,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_3/healer1_attack1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{15,35}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{15,35}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_3/healer1_attack1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{15,33}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{15,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_3/healer1_attack1_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,37},{17,33}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{17,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_3/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,31},{13,11}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,33},{13,11}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_7/healer1_attack1_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,70},{23,31}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{23,31}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_7/healer1_attack1_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{27,31}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{27,31}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_7/healer1_attack1_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,37},{27,31}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{27,31}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_7/healer1_attack1_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,33},{25,27}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{25,27}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_7/healer1_attack1_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,62},{21,27}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{21,27}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_7/healer1_attack1_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,159},{15,27}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{15,27}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_7/healer1_attack1_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,99},{15,29}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{15,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_7/healer1_attack1_7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,136},{17,31}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{17,31}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>attack/healer1_attack1_7/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,61},{13,11}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,31},{13,11}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>cheer/healer1_cheer1_0/healer1_cheer1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,163},{23,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{23,27}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>cheer/healer1_cheer1_0/healer1_cheer1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,229},{25,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{25,27}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>cheer/healer1_cheer1_0/healer1_cheer1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,231},{23,27}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{23,27}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>cheer/healer1_cheer1_0/healer1_cheer1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,229},{25,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{25,27}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>cheer/healer1_cheer1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,46},{13,11}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,31},{13,11}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>idle/healer1_idle1_0/healer1_idle1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,163},{23,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{23,27}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>idle/healer1_idle1_0/healer1_idle1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,229},{25,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{25,27}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>idle/healer1_idle1_0/healer1_idle1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,231},{23,27}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{23,27}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>idle/healer1_idle1_0/healer1_idle1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,229},{25,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{25,27}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>idle/healer1_idle1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,46},{13,11}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,31},{13,11}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>walk/healer1_run_0/healer1_run_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,163},{23,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{23,27}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>walk/healer1_run_0/healer1_run_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,229},{25,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{25,27}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>walk/healer1_run_0/healer1_run_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,231},{23,27}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{23,27}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>walk/healer1_run_0/healer1_run_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,229},{25,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{25,27}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>walk/healer1_run_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,31},{13,11}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,31},{13,11}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>walk/healer1_run_1/healer1_run_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,132},{15,29}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{15,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>walk/healer1_run_1/healer1_run_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,198},{19,29}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{19,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>walk/healer1_run_1/healer1_run_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,35},{23,29}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{23,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>walk/healer1_run_1/healer1_run_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,198},{19,29}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{19,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>walk/healer1_run_1/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,77},{13,11}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,32},{13,11}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>walk/healer1_run_2/healer1_run_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{21,31}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{21,31}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>walk/healer1_run_2/healer1_run_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,68},{21,31}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{21,31}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>walk/healer1_run_2/healer1_run_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,103},{21,31}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{21,31}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>walk/healer1_run_2/healer1_run_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{21,31}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{21,31}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>walk/healer1_run_2/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,62},{13,11}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,32},{13,11}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>walk/healer1_run_3/healer1_run_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{25,33}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{25,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>walk/healer1_run_3/healer1_run_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{21,33}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{21,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>walk/healer1_run_3/healer1_run_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{21,33}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{21,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>walk/healer1_run_3/healer1_run_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{25,33}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{25,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>walk/healer1_run_3/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,243},{13,11}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,32},{13,11}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>walk/healer1_run_7/healer1_run_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,105},{23,31}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{23,31}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>walk/healer1_run_7/healer1_run_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,210},{21,31}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{21,31}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>walk/healer1_run_7/healer1_run_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,200},{21,29}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{21,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>walk/healer1_run_7/healer1_run_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,105},{23,31}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{23,31}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>walk/healer1_run_7/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,243},{13,11}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{13,11}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Healer1.pvr.ccz</string>
            <key>size</key>
            <string>{207,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c0eaaf81ddbdbb5731a732c2d0702ec$</string>
            <key>textureFileName</key>
            <string>Healer1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
