<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/healer2_attack1_0/healer2_attack1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,179},{47,55}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{47,55}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_0/healer2_attack1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,134},{59,61}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{59,61}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_0/healer2_attack1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,130},{47,61}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,9},{47,61}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_0/healer2_attack1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,321},{57,57}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{57,57}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_0/healer2_attack1_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,458},{43,51}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,29},{43,51}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_0/healer2_attack1_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,291},{41,53}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{41,53}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_0/healer2_attack1_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,466},{43,53}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,20},{43,53}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_0/healer2_attack1_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,122},{47,55}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{47,55}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,234},{25,21}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,66},{25,21}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_1/healer2_attack1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,409},{33,59}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{33,59}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_1/healer2_attack1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,280},{45,63}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,10},{45,63}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_1/healer2_attack1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,351},{45,63}}</string>
                <key>offset</key>
                <string>{18,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,10},{45,63}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_1/healer2_attack1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,416},{43,63}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{43,63}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_1/healer2_attack1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,401},{53,55}}</string>
                <key>offset</key>
                <string>{-19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{53,55}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_1/healer2_attack1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,193},{53,57}}</string>
                <key>offset</key>
                <string>{-18,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{53,57}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_1/healer2_attack1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,252},{51,57}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{51,57}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_1/healer2_attack1_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,409},{45,59}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{45,59}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_1/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,369},{25,21}}</string>
                <key>offset</key>
                <string>{9,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,66},{25,21}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_2/healer2_attack1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{39,65}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{39,65}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_2/healer2_attack1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,422},{47,63}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,13},{47,63}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_2/healer2_attack1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,311},{41,57}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,16},{41,57}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_2/healer2_attack1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{43,67}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{43,67}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_2/healer2_attack1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,284},{47,65}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{47,65}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_2/healer2_attack1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,2},{47,67}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{47,67}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_2/healer2_attack1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{41,67}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{41,67}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_2/healer2_attack1_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,142},{43,65}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{43,65}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_2/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,346},{25,21}}</string>
                <key>offset</key>
                <string>{1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,68},{25,21}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_3/healer2_attack1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,73},{49,67}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{49,67}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_3/healer2_attack1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{53,63}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{53,63}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_3/healer2_attack1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,407},{53,57}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{53,57}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_3/healer2_attack1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,144},{49,67}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{49,67}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_3/healer2_attack1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{41,69}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,3},{41,69}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_3/healer2_attack1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{31,69}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,3},{31,69}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_3/healer2_attack1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{29,69}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,3},{29,69}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_3/healer2_attack1_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,353},{33,67}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,7},{33,67}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_3/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,346},{25,21}}</string>
                <key>offset</key>
                <string>{-4,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,70},{25,21}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_7/healer2_attack1_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,197},{49,61}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,13},{49,61}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_7/healer2_attack1_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,67},{55,61}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{55,61}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_7/healer2_attack1_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,69},{53,63}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{53,63}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_7/healer2_attack1_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,236},{49,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{49,53}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_7/healer2_attack1_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,179},{41,53}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,33},{41,53}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_7/healer2_attack1_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,370},{29,57}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,28},{29,57}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_7/healer2_attack1_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,481},{29,57}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,22},{29,57}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_7/healer2_attack1_7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,410},{33,63}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{33,63}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>attack/healer2_attack1_7/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,380},{25,21}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,65},{25,21}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>cheer/healer2_cheer1_0/healer2_cheer1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{47,55}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{47,55}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>cheer/healer2_cheer1_0/healer2_cheer1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,65},{49,55}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{49,55}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>cheer/healer2_cheer1_0/healer2_cheer1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,122},{45,55}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{45,55}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>cheer/healer2_cheer1_0/healer2_cheer1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,65},{49,55}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{49,55}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>cheer/healer2_cheer1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,380},{25,21}}</string>
                <key>offset</key>
                <string>{3,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,65},{25,21}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>idle/healer2_idle1_0/healer2_idle1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{47,55}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{47,55}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>idle/healer2_idle1_0/healer2_idle1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,65},{49,55}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{49,55}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>idle/healer2_idle1_0/healer2_idle1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,122},{45,55}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{45,55}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>idle/healer2_idle1_0/healer2_idle1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,65},{49,55}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{49,55}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>idle/healer2_idle1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,380},{25,21}}</string>
                <key>offset</key>
                <string>{3,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,65},{25,21}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer2_run_0/healer2_run_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{47,55}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{47,55}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer2_run_0/healer2_run_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,65},{49,55}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{49,55}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer2_run_0/healer2_run_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,122},{45,55}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{45,55}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer2_run_0/healer2_run_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,65},{49,55}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{49,55}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer2_run_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,380},{25,21}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,65},{25,21}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer2_run_1/healer2_run_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,475},{33,59}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,10},{33,59}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer2_run_1/healer2_run_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,470},{37,59}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{37,59}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer2_run_1/healer2_run_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,260},{45,59}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{45,59}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer2_run_1/healer2_run_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,470},{37,59}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{37,59}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer2_run_1/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,386},{25,21}}</string>
                <key>offset</key>
                <string>{6,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,67},{25,21}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer2_run_2/healer2_run_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,71},{39,65}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{39,65}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer2_run_2/healer2_run_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,209},{43,63}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{43,63}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer2_run_2/healer2_run_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,345},{41,63}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{41,63}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer2_run_2/healer2_run_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,209},{43,63}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{43,63}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer2_run_2/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,386},{25,21}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,67},{25,21}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer2_run_3/healer2_run_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{49,67}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{49,67}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer2_run_3/healer2_run_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{41,67}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{41,67}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer2_run_3/healer2_run_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,213},{43,65}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{43,65}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer2_run_3/healer2_run_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{41,67}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{41,67}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer2_run_3/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,487},{25,21}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,68},{25,21}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer2_run_7/healer2_run_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{49,61}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,13},{49,61}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer2_run_7/healer2_run_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,323},{41,61}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{41,61}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer2_run_7/healer2_run_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,260},{43,61}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{43,61}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer2_run_7/healer2_run_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,323},{41,61}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{41,61}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>walk/healer2_run_7/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,487},{25,21}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,63},{25,21}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Healer2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{380,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e087c8f763f84d4145b13ade39f8dff7$</string>
            <key>textureFileName</key>
            <string>Healer2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
