<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/pekka1_attack1_0/pekka1_attack1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,92},{36,52}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{36,52}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_0/pekka1_attack1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,162},{42,48}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{42,48}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_0/pekka1_attack1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,216},{44,46}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{44,46}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_0/pekka1_attack1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{30,58}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,3},{30,58}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_0/pekka1_attack1_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,44},{40,58}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{40,58}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_0/pekka1_attack1_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{56,46}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{56,46}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_0/pekka1_attack1_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{56,48}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{56,48}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_0/pekka1_attack1_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{54,52}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{54,52}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,464},{34,28}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,39},{34,28}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_1/pekka1_attack1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,344},{42,44}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{42,44}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_1/pekka1_attack1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,130},{48,42}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{48,42}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_1/pekka1_attack1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,396},{34,40}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,15},{34,40}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_1/pekka1_attack1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,170},{48,44}}</string>
                <key>offset</key>
                <string>{15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,11},{48,44}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_1/pekka1_attack1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{38,54}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,2},{38,54}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_1/pekka1_attack1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{62,40}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{62,40}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_1/pekka1_attack1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,42}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{64,42}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_1/pekka1_attack1_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{60,46}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{60,46}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_1/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,422},{32,28}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,35},{32,28}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_2/pekka1_attack1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,306},{46,42}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{46,42}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_2/pekka1_attack1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{50,40}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{50,40}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_2/pekka1_attack1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,440},{34,42}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,13},{34,42}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_2/pekka1_attack1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,50},{54,42}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,13},{54,42}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_2/pekka1_attack1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,138},{36,50}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{36,50}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_2/pekka1_attack1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,42},{52,44}}</string>
                <key>offset</key>
                <string>{-13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{52,44}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_2/pekka1_attack1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,40},{52,48}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{52,48}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_2/pekka1_attack1_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{48,48}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{48,48}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_2/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,388},{34,28}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,35},{34,28}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_3/pekka1_attack1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,266},{46,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{46,42}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_3/pekka1_attack1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,296},{46,38}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,23},{46,38}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_3/pekka1_attack1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{40,42}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{40,42}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_3/pekka1_attack1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{42,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{42,42}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_3/pekka1_attack1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,44},{44,52}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{44,52}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_3/pekka1_attack1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{40,54}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{40,54}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_3/pekka1_attack1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,88},{40,52}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{40,52}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_3/pekka1_attack1_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,128},{40,50}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{40,50}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_3/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,428},{34,28}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,42},{34,28}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_7/pekka1_attack1_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,50},{40,54}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{40,54}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_7/pekka1_attack1_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,130},{42,50}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{42,50}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_7/pekka1_attack1_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,264},{38,46}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{38,46}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_7/pekka1_attack1_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,90},{38,52}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{38,52}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_7/pekka1_attack1_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,86},{40,54}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{40,54}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_7/pekka1_attack1_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{34,52}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{34,52}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_7/pekka1_attack1_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,56},{36,52}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,23},{36,52}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_7/pekka1_attack1_7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{36,54}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,20},{36,54}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>attack/pekka1_attack1_7/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,458},{32,28}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,33},{32,28}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>cheer/pekka1_cheer1_0/pekka1_cheer1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,56},{36,52}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{36,52}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>cheer/pekka1_cheer1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,392},{34,28}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,38},{34,28}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>idle/pekka1_idle1_0/pekka1_idle1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,56},{36,52}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{36,52}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>idle/pekka1_idle1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,392},{34,28}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,38},{34,28}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_0/pekka1_run_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,310},{32,46}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,16},{32,46}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_0/pekka1_run_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,218},{34,48}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{34,48}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_0/pekka1_run_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,182},{36,48}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{36,48}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_0/pekka1_run_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,178},{38,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{38,48}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_0/pekka1_run_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,294},{40,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{40,46}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_0/pekka1_run_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,262},{38,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,17},{38,46}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_0/pekka1_run_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,308},{34,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,17},{34,44}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_0/pekka1_run_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,298},{32,46}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,16},{32,46}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,388},{32,28}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,38},{32,28}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_1/pekka1_run_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,174},{40,48}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,7},{40,48}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_1/pekka1_run_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,252},{42,46}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,9},{42,46}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_1/pekka1_run_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,130},{42,48}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{42,48}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_1/pekka1_run_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{42,48}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{42,48}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_1/pekka1_run_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,216},{42,48}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,7},{42,48}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_1/pekka1_run_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,176},{42,48}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{42,48}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_1/pekka1_run_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,110},{40,50}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{40,50}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_1/pekka1_run_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,174},{42,48}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,9},{42,48}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_1/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,424},{32,28}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,34},{32,28}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_2/pekka1_run_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,206},{46,44}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{46,44}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_2/pekka1_run_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{46,44}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{46,44}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_2/pekka1_run_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,260},{46,44}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{46,44}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_2/pekka1_run_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,332},{44,42}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{44,42}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_2/pekka1_run_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,304},{44,44}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{44,44}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_2/pekka1_run_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,302},{44,44}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{44,44}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_2/pekka1_run_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,262},{44,44}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{44,44}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_2/pekka1_run_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,254},{46,42}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{46,42}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_2/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,474},{34,28}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,34},{34,28}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_3/pekka1_run_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,220},{46,42}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{46,42}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_3/pekka1_run_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,220},{46,44}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{46,44}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_3/pekka1_run_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,252},{46,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{46,40}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_3/pekka1_run_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,302},{44,40}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{44,40}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_3/pekka1_run_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{44,40}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{44,40}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_3/pekka1_run_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,350},{44,40}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,23},{44,40}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_3/pekka1_run_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,260},{46,40}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,21},{46,40}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_3/pekka1_run_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,218},{46,42}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{46,42}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_3/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,428},{34,28}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,42},{34,28}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_7/pekka1_run_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,94},{42,50}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{42,50}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_7/pekka1_run_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,90},{42,50}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{42,50}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_7/pekka1_run_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,94},{42,50}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{42,50}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_7/pekka1_run_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,138},{42,48}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{42,48}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_7/pekka1_run_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,174},{40,48}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{40,48}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_7/pekka1_run_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,216},{42,46}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,13},{42,46}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_7/pekka1_run_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{42,46}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{42,46}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_7/pekka1_run_7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,134},{42,48}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{42,48}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>walk/pekka1_run_7/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,438},{34,28}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,35},{34,28}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Pekka1.pvr.ccz</string>
            <key>size</key>
            <string>{512,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a192c01492d9fd618c2c1f795000b8f$</string>
            <key>textureFileName</key>
            <string>Pekka1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
