<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/pekka2_attack1_0/pekka2_attack1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,288},{96,138}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,62},{96,138}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_0/pekka2_attack1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,272},{112,128}}</string>
                <key>offset</key>
                <string>{-18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,61},{112,128}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_0/pekka2_attack1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,820},{116,124}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,63},{116,124}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_0/pekka2_attack1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,544},{80,152}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,39},{80,152}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_0/pekka2_attack1_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{110,154}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,40},{110,154}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_0/pekka2_attack1_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,492},{146,124}}</string>
                <key>offset</key>
                <string>{-16,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,106},{146,124}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_0/pekka2_attack1_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,854},{148,132}}</string>
                <key>offset</key>
                <string>{-16,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,99},{148,132}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_0/pekka2_attack1_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{142,140}}</string>
                <key>offset</key>
                <string>{-17,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,84},{142,140}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,244},{86,74}}</string>
                <key>offset</key>
                <string>{-2,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,130},{86,74}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_1/pekka2_attack1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,126},{108,122}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,65},{108,122}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_1/pekka2_attack1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,366},{88,110}}</string>
                <key>offset</key>
                <string>{24,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,76},{88,110}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_1/pekka2_attack1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,440},{142,120}}</string>
                <key>offset</key>
                <string>{47,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,68},{142,120}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_1/pekka2_attack1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{98,144}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,45},{98,144}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_1/pekka2_attack1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{176,110}}</string>
                <key>offset</key>
                <string>{-39,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,79},{176,110}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_1/pekka2_attack1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{178,104}}</string>
                <key>offset</key>
                <string>{-34,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,85},{178,104}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_1/pekka2_attack1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,110}}</string>
                <key>offset</key>
                <string>{-31,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,79},{182,110}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_1/pekka2_attack1_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,562},{126,128}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,63},{126,128}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_1/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,950},{86,72}}</string>
                <key>offset</key>
                <string>{24,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,127},{86,72}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_2/pekka2_attack1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,124},{120,108}}</string>
                <key>offset</key>
                <string>{28,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,80},{120,108}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_2/pekka2_attack1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,692},{126,104}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,81},{126,104}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_2/pekka2_attack1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,490},{90,110}}</string>
                <key>offset</key>
                <string>{25,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,75},{90,110}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_2/pekka2_attack1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{152,112}}</string>
                <key>offset</key>
                <string>{46,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,73},{152,112}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_2/pekka2_attack1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,710},{92,130}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,54},{92,130}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_2/pekka2_attack1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,148},{144,116}}</string>
                <key>offset</key>
                <string>{-29,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,67},{144,116}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_2/pekka2_attack1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,640},{144,126}}</string>
                <key>offset</key>
                <string>{-29,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,65},{144,126}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_2/pekka2_attack1_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,418},{124,128}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,64},{124,128}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_2/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,366},{86,74}}</string>
                <key>offset</key>
                <string>{20,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,132},{86,74}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_3/pekka2_attack1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,742},{116,104}}</string>
                <key>offset</key>
                <string>{28,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,81},{116,104}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_3/pekka2_attack1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,926},{116,96}}</string>
                <key>offset</key>
                <string>{35,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,89},{116,96}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_3/pekka2_attack1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,860},{104,108}}</string>
                <key>offset</key>
                <string>{15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,77},{104,108}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_3/pekka2_attack1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,616},{106,110}}</string>
                <key>offset</key>
                <string>{25,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,75},{106,110}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_3/pekka2_attack1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,576},{110,132}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,53},{110,132}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_3/pekka2_attack1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,428},{96,132}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,53},{96,132}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_3/pekka2_attack1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,852},{100,130}}</string>
                <key>offset</key>
                <string>{12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,55},{100,130}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_3/pekka2_attack1_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,800},{106,124}}</string>
                <key>offset</key>
                <string>{17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,61},{106,124}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_3/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,478},{86,74}}</string>
                <key>offset</key>
                <string>{19,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,133},{86,74}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_7/pekka2_attack1_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,186},{116,154}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,53},{116,154}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_7/pekka2_attack1_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,584},{116,140}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,48},{116,140}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_7/pekka2_attack1_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,822},{104,126}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,48},{104,126}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_7/pekka2_attack1_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,698},{104,148}}</string>
                <key>offset</key>
                <string>{-8,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,30},{104,148}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_7/pekka2_attack1_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{108,150}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,32},{108,150}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_7/pekka2_attack1_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,342},{96,146}}</string>
                <key>offset</key>
                <string>{7,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,92},{96,146}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_7/pekka2_attack1_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,342},{100,148}}</string>
                <key>offset</key>
                <string>{5,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,91},{100,148}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_7/pekka2_attack1_7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{106,154}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,82},{106,154}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>attack/pekka2_attack1_7/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,602},{86,74}}</string>
                <key>offset</key>
                <string>{-10,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,125},{86,74}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>cheer/pekka2_cheer1_0/pekka2_cheer1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,436},{96,138}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,62},{96,138}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>cheer/pekka2_cheer1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,904},{86,74}}</string>
                <key>offset</key>
                <string>{-5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,133},{86,74}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>idle/pekka2_idle1_0/pekka2_idle1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,436},{96,138}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,62},{96,138}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>idle/pekka2_idle1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,904},{86,74}}</string>
                <key>offset</key>
                <string>{-5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,133},{86,74}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_0/pekka2_run_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,932},{90,136}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,63},{90,136}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_0/pekka2_run_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,578},{96,138}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,66},{96,138}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_0/pekka2_run_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,726},{102,140}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,61},{102,140}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_0/pekka2_run_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,436},{110,140}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,60},{110,140}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_0/pekka2_run_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,868},{114,136}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,63},{114,136}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_0/pekka2_run_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,718},{110,132}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,68},{110,132}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_0/pekka2_run_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{100,130}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,66},{100,130}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_0/pekka2_run_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,284},{94,132}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,65},{94,132}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,728},{86,74}}</string>
                <key>offset</key>
                <string>{-6,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,131},{86,74}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_1/pekka2_run_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,376},{104,122}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,64},{104,122}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_1/pekka2_run_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,2},{106,122}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,63},{106,122}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_1/pekka2_run_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,674},{106,124}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,60},{106,124}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_1/pekka2_run_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,252},{108,122}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,60},{108,122}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_1/pekka2_run_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{110,122}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,63},{110,122}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_1/pekka2_run_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,842},{106,128}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,66},{106,128}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_1/pekka2_run_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,140},{106,130}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,64},{106,130}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_1/pekka2_run_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,692},{104,128}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,63},{104,128}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_1/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,950},{86,72}}</string>
                <key>offset</key>
                <string>{25,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,136},{86,72}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_2/pekka2_run_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,500},{120,114}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,74},{120,114}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_2/pekka2_run_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,126},{120,118}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,73},{120,118}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_2/pekka2_run_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,2},{120,116}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,69},{120,116}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_2/pekka2_run_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,246},{118,110}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,73},{118,110}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_2/pekka2_run_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,370},{118,116}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,74},{118,116}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_2/pekka2_run_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,622},{118,118}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,76},{118,118}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_2/pekka2_run_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,496},{118,116}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,74},{118,116}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_2/pekka2_run_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,374},{120,112}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,75},{120,112}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_2/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,816},{86,74}}</string>
                <key>offset</key>
                <string>{22,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,131},{86,74}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_3/pekka2_run_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,548},{124,108}}</string>
                <key>offset</key>
                <string>{27,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,82},{124,108}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_3/pekka2_run_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,128},{122,114}}</string>
                <key>offset</key>
                <string>{30,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,81},{122,114}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_3/pekka2_run_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,2},{120,104}}</string>
                <key>offset</key>
                <string>{32,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,78},{120,104}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_3/pekka2_run_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,124},{118,104}}</string>
                <key>offset</key>
                <string>{31,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,81},{118,104}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_3/pekka2_run_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,2},{116,106}}</string>
                <key>offset</key>
                <string>{29,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,81},{116,106}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_3/pekka2_run_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,248},{120,110}}</string>
                <key>offset</key>
                <string>{23,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,81},{120,110}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_3/pekka2_run_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,250},{122,104}}</string>
                <key>offset</key>
                <string>{21,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,80},{122,104}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_3/pekka2_run_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{124,106}}</string>
                <key>offset</key>
                <string>{24,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,83},{124,106}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_3/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,728},{86,74}}</string>
                <key>offset</key>
                <string>{18,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,134},{86,74}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_7/pekka2_run_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,786},{124,144}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,53},{124,144}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_7/pekka2_run_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{122,144}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,59},{122,144}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_7/pekka2_run_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,294},{120,144}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,57},{120,144}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_7/pekka2_run_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,148},{120,144}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,54},{120,144}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_7/pekka2_run_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,146},{116,140}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,54},{116,140}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_7/pekka2_run_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{118,136}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,58},{118,136}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_7/pekka2_run_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,146},{120,136}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,53},{120,136}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_7/pekka2_run_7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,294},{122,140}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,52},{122,140}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
            <key>walk/pekka2_run_7/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,946},{86,74}}</string>
                <key>offset</key>
                <string>{-7,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,125},{86,74}}</string>
                <key>sourceSize</key>
                <string>{254,254}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Pekka2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1474,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d9c4cd9ffe37208cd68cb763030c2c9$</string>
            <key>textureFileName</key>
            <string>Pekka2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
