<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>busy/villager2_busy1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,236},{30,26}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,36},{30,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_0/villager2_busy1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,144},{28,44}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{28,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_0/villager2_busy1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,102},{26,46}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,9},{26,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_0/villager2_busy1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,406},{32,44}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{32,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_0/villager2_busy1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,324},{34,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{34,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_0/villager2_busy1_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,48},{30,42}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{30,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_0/villager2_busy1_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,52}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{32,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_0/villager2_busy1_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,312},{30,46}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{30,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_1/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,34},{30,24}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,38},{30,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_1/villager2_busy1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,98},{30,44}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,13},{30,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_1/villager2_busy1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,452},{30,44}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,13},{30,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_1/villager2_busy1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,406},{30,44}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,13},{30,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_1/villager2_busy1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,412},{32,46}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{32,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_1/villager2_busy1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,280},{32,42}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{32,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_1/villager2_busy1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,110},{30,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{30,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_1/villager2_busy1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,452},{30,44}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,13},{30,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_2/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,76},{30,24}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,39},{30,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_2/villager2_busy1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,190},{28,44}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,13},{28,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_2/villager2_busy1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,144},{28,44}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,13},{28,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_2/villager2_busy1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,198},{34,44}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{34,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_2/villager2_busy1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,162},{28,46}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{28,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_2/villager2_busy1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,360},{32,44}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{32,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_2/villager2_busy1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{24,48}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{24,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_2/villager2_busy1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{28,44}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{28,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_3/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,178},{30,24}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,38},{30,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_3/villager2_busy1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,360},{30,44}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{30,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_3/villager2_busy1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,290},{32,44}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{32,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_3/villager2_busy1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,194},{32,44}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{32,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_3/villager2_busy1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,244},{32,44}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{32,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_3/villager2_busy1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,456},{26,46}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{26,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_3/villager2_busy1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,408},{28,46}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{28,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_3/villager2_busy1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,406},{30,44}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{30,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_7/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,178},{30,26}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,36},{30,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_7/villager2_busy1_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,460},{30,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{30,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_7/villager2_busy1_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{32,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{32,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_7/villager2_busy1_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,216},{34,46}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{34,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_7/villager2_busy1_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,148},{32,44}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{32,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_7/villager2_busy1_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{24,48}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{24,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_7/villager2_busy1_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{28,52}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{28,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>busy/villager2_busy1_7/villager2_busy1_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{30,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{30,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>cheer/villager2_cheer1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,152},{30,24}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,37},{30,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>cheer/villager2_cheer1_0/villager2_cheer1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,48},{28,44}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{28,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>idle/villager2_idle1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,152},{30,24}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,37},{30,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>idle/villager2_idle1_0/villager2_idle1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,48},{28,44}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{28,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{30,26}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,36},{30,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_0/villager2_run_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,190},{36,42}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{36,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_0/villager2_run_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,280},{34,42}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{34,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_0/villager2_run_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,360},{30,44}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{30,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_0/villager2_run_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,150},{24,46}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{24,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_0/villager2_run_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,56},{24,50}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{24,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_0/villager2_run_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,416},{20,48}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{20,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_0/villager2_run_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{30,48}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{30,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_0/villager2_run_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,466},{34,44}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{34,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_1/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,120},{30,24}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,38},{30,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_1/villager2_run_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,236},{40,42}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{40,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_1/villager2_run_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,136},{36,40}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{36,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_1/villager2_run_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,286},{30,44}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{30,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_1/villager2_run_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,240},{30,44}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{30,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_1/villager2_run_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{36,44}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{36,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_1/villager2_run_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{32,44}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{32,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_1/villager2_run_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,412},{30,46}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{30,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_1/villager2_run_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{36,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{36,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_2/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,44},{30,26}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,38},{30,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_2/villager2_run_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,448},{30,42}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{30,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_2/villager2_run_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,404},{30,42}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{30,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_2/villager2_run_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,360},{28,46}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{28,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_2/villager2_run_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,266},{36,46}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{36,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_2/villager2_run_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,316},{40,46}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{40,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_2/villager2_run_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,46},{38,40}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{38,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_2/villager2_run_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{28,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{28,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_2/villager2_run_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,52},{32,44}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{32,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_3/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,210},{30,24}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,39},{30,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_3/villager2_run_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{22,48}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,11},{22,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_3/villager2_run_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,332},{26,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,11},{26,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_3/villager2_run_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,460},{30,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{30,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_3/villager2_run_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,52},{32,48}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{32,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_3/villager2_run_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{32,48}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{32,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_3/villager2_run_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,102},{32,44}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{32,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_3/villager2_run_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,364},{30,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{30,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_3/villager2_run_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{26,48}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{26,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_7/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,88},{30,26}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,34},{30,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_7/villager2_run_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,336},{22,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{22,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_7/villager2_run_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,92},{26,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{26,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_7/villager2_run_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,360},{30,42}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{30,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_7/villager2_run_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,364},{32,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{32,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_7/villager2_run_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{32,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{32,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_7/villager2_run_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,264},{32,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{32,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_7/villager2_run_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,452},{30,44}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{30,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>walk/villager2_run_7/villager2_run_7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,92},{26,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{26,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Villager2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{296,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edc3cf9aa0ab7060664a595486b16597$</string>
            <key>textureFileName</key>
            <string>Villager2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
