<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>busy/worker_busy1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,227},{29,25}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,41},{29,25}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_0/worker_busy1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,55},{37,49}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{37,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_0/worker_busy1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,206},{31,47}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{31,47}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_0/worker_busy1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{33,55}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{33,55}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_0/worker_busy1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,473},{41,37}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{41,37}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_0/worker_busy1_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,471},{43,39}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{43,39}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_0/worker_busy1_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,149},{35,45}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{35,45}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_1/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,278},{29,25}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,41},{29,25}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_1/worker_busy1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{33,51}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{33,51}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_1/worker_busy1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,155},{29,49}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{29,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_1/worker_busy1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,59},{27,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{27,53}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_1/worker_busy1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,469},{41,45}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{41,45}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_1/worker_busy1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{51,41}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,20},{51,41}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_1/worker_busy1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,157},{33,49}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{33,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_2/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,139},{29,25}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,41},{29,25}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_2/worker_busy1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,371},{25,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,11},{25,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_2/worker_busy1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,265},{31,49}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{31,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_2/worker_busy1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{29,51}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{29,51}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_2/worker_busy1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,2},{33,55}}</string>
                <key>offset</key>
                <string>{-13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{33,55}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_2/worker_busy1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,420},{35,47}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{35,47}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_2/worker_busy1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,444},{25,51}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{25,51}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_3/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,196},{29,25}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,41},{29,25}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_3/worker_busy1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,214},{33,49}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{33,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_3/worker_busy1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,269},{33,49}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{33,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_3/worker_busy1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,320},{31,49}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{31,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_3/worker_busy1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{29,59}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{29,59}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_3/worker_busy1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{25,51}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{25,51}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_3/worker_busy1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{31,51}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{31,51}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_7/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,247},{29,25}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,41},{29,25}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_7/worker_busy1_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{33,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{33,47}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_7/worker_busy1_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,463},{33,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{33,47}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_7/worker_busy1_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{31,57}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{31,57}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_7/worker_busy1_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,98},{29,39}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{29,39}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_7/worker_busy1_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{25,41}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{25,41}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>busy/worker_busy1_7/worker_busy1_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,100},{31,45}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{31,45}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>cheer/worker_cheer1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,335},{29,25}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,42},{29,25}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>cheer/worker_cheer1_0/worker_cheer1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,112},{37,49}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{37,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>idle/worker_idle1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,335},{29,25}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,42},{29,25}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>idle/worker_idle1_0/worker_idle1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,112},{37,49}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{37,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,335},{29,25}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,42},{29,25}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_0/worker_run_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,114},{39,51}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{39,51}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_0/worker_run_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,442},{39,49}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{39,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_0/worker_run_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,167},{37,49}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{37,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_0/worker_run_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,414},{33,47}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{33,47}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_0/worker_run_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{31,47}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{31,47}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_0/worker_run_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,365},{33,47}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{33,47}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_0/worker_run_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,371},{35,47}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{35,47}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_0/worker_run_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,336},{37,49}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{37,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_1/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,304},{29,25}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,42},{29,25}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_1/worker_run_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,391},{41,49}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{41,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_1/worker_run_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,232},{37,49}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{37,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_1/worker_run_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,371},{31,49}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{31,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_1/worker_run_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,198},{27,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{27,47}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_1/worker_run_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,51},{29,45}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{29,45}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_1/worker_run_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,255},{27,47}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{27,47}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_1/worker_run_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,255},{27,47}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{27,47}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_1/worker_run_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,163},{35,49}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{35,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_2/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,139},{29,25}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,41},{29,25}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_2/worker_run_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,51},{31,47}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{31,47}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_2/worker_run_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,149},{27,47}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{27,47}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_2/worker_run_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,422},{27,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{27,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_2/worker_run_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,53},{33,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{33,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_2/worker_run_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,285},{37,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{37,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_2/worker_run_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,218},{35,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{35,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_2/worker_run_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,208},{29,49}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{29,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_2/worker_run_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{25,45}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{25,45}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_3/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{29,25}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,40},{29,25}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_3/worker_run_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,320},{31,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{31,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_3/worker_run_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,104},{31,49}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{31,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_3/worker_run_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,385},{35,49}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{35,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_3/worker_run_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,59},{35,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{35,51}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_3/worker_run_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,334},{35,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{35,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_3/worker_run_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{33,51}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{33,51}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_3/worker_run_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,316},{33,47}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{33,47}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_3/worker_run_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{31,51}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{31,51}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_7/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,45},{29,25}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,42},{29,25}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_7/worker_run_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,100},{31,47}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{31,47}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_7/worker_run_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{33,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{33,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_7/worker_run_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,422},{35,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{35,47}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_7/worker_run_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,283},{35,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{35,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_7/worker_run_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{35,49}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{35,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_7/worker_run_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,436},{33,49}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{33,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_7/worker_run_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,106},{33,49}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{33,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>walk/worker_run_7/worker_run_7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,51},{31,47}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{31,47}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Worker-hd.pvr.ccz</string>
            <key>size</key>
            <string>{324,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f16738160747d964ac0f80239f35fba3$</string>
            <key>textureFileName</key>
            <string>Worker-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
