<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>busy/worker_busy1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{15,13}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{15,13}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_0/worker_busy1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,201},{19,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{19,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_0/worker_busy1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,237},{17,23}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{17,23}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_0/worker_busy1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,2},{17,27}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{17,27}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_0/worker_busy1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,108},{21,19}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{21,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_0/worker_busy1_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,232},{21,19}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{21,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_0/worker_busy1_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,137},{19,23}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{19,23}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_1/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{15,13}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{15,13}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_1/worker_busy1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,220},{17,25}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{17,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_1/worker_busy1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,164},{15,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{15,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_1/worker_busy1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{13,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{13,27}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_1/worker_busy1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{21,23}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{21,23}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_1/worker_busy1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,120},{25,21}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{25,21}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_1/worker_busy1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,193},{17,25}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{17,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_2/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{15,13}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{15,13}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_2/worker_busy1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,218},{13,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{13,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_2/worker_busy1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,166},{17,25}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{17,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_2/worker_busy1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,110},{15,25}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{15,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_2/worker_busy1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{17,27}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{17,27}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_2/worker_busy1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,110},{17,25}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{17,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_2/worker_busy1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,191},{13,25}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{13,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_3/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{15,13}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{15,13}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_3/worker_busy1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{17,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{17,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_3/worker_busy1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,29},{17,25}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{17,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_3/worker_busy1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,56},{17,25}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{17,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_3/worker_busy1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,33},{15,29}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{15,29}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_3/worker_busy1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{13,27}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{13,27}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_3/worker_busy1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,31},{15,27}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{15,27}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_7/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{15,13}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{15,13}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_7/worker_busy1_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,83},{17,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{17,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_7/worker_busy1_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,187},{17,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{17,23}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_7/worker_busy1_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{15,29}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{15,29}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_7/worker_busy1_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,154},{15,19}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{15,19}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_7/worker_busy1_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,131},{13,21}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{13,21}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>busy/worker_busy1_7/worker_busy1_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,212},{17,23}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{17,23}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>cheer/worker_cheer1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,226},{15,13}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,20},{15,13}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>cheer/worker_cheer1_0/worker_cheer1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,201},{19,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{19,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>idle/worker_idle1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,226},{15,13}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,20},{15,13}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>idle/worker_idle1_0/worker_idle1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,201},{19,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{19,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,226},{15,13}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,20},{15,13}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_0/worker_run_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,174},{19,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{19,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_0/worker_run_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,93},{21,25}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{21,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_0/worker_run_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,147},{19,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{19,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_0/worker_run_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,139},{17,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{17,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_0/worker_run_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,83},{15,23}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{15,23}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_0/worker_run_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,162},{17,23}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{17,23}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_0/worker_run_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,187},{17,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{17,23}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_0/worker_run_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,205},{19,25}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{19,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_1/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,209},{15,13}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,20},{15,13}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_1/worker_run_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{21,25}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{21,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_1/worker_run_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,178},{19,25}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{19,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_1/worker_run_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{15,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{15,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_1/worker_run_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,133},{13,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{13,23}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_1/worker_run_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,237},{15,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{15,23}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_1/worker_run_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,108},{13,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{13,23}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_1/worker_run_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,218},{13,25}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{13,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_1/worker_run_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,112},{17,25}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{17,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_2/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{15,13}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{15,13}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_2/worker_run_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,212},{15,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{15,23}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_2/worker_run_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,191},{13,25}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{13,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_2/worker_run_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,29},{15,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{15,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_2/worker_run_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{17,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{17,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_2/worker_run_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{19,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{19,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_2/worker_run_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{19,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{19,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_2/worker_run_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,56},{15,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{15,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_2/worker_run_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,56},{13,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{13,23}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_3/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,192},{15,13}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,19},{15,13}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_3/worker_run_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,83},{15,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{15,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_3/worker_run_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,29},{17,25}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{17,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_3/worker_run_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,56},{17,25}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{17,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_3/worker_run_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{19,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{19,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_3/worker_run_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,31},{19,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{19,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_3/worker_run_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,85},{17,25}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{17,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_3/worker_run_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,141},{17,25}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{17,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_3/worker_run_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,114},{17,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{17,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_7/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,175},{15,13}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,20},{15,13}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_7/worker_run_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,137},{15,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{15,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_7/worker_run_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{17,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{17,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_7/worker_run_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,29},{17,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{17,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_7/worker_run_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,60},{19,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{19,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_7/worker_run_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,58},{17,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{17,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_7/worker_run_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,87},{17,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{17,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_7/worker_run_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,228},{17,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{17,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>walk/worker_run_7/worker_run_7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,162},{17,23}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{17,23}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Worker.pvr.ccz</string>
            <key>size</key>
            <string>{232,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69d3109450de8d2b5119e4f93805001b$</string>
            <key>textureFileName</key>
            <string>Worker.pvr.ccz</string>
        </dict>
    </dict>
</plist>
