<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingying_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,79},{87,76}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,76}}</string>
                <key>sourceSize</key>
                <string>{97,90}</string>
            </dict>
            <key>bingying_lv10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{84,86}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>bingying_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,252},{83,78}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,78}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>bingying_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,381},{81,78}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,78}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>bingying_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,324},{82,80}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{98,92}</string>
            </dict>
            <key>bingying_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,267},{83,81}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,81}}</string>
                <key>sourceSize</key>
                <string>{99,93}</string>
            </dict>
            <key>bingying_lv6.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,157},{87,82}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,82}}</string>
                <key>sourceSize</key>
                <string>{105,92}</string>
            </dict>
            <key>bingying_lv7.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,337},{77,82}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,82}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>bingying_lv8.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,406},{80,81}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{96,91}</string>
            </dict>
            <key>bingying_lv9.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,241},{81,84}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{97,94}</string>
            </dict>
            <key>chengbao_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,168},{82,63}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,63}}</string>
                <key>sourceSize</key>
                <string>{92,85}</string>
            </dict>
            <key>chengbao_leader.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,488},{53,51}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,51}}</string>
                <key>sourceSize</key>
                <string>{63,59}</string>
            </dict>
            <key>chengbao_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,2},{77,65}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,65}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>chengbao_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,200},{89,73}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,73}}</string>
                <key>sourceSize</key>
                <string>{103,93}</string>
            </dict>
            <key>chengbao_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,296},{90,78}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,78}}</string>
                <key>sourceSize</key>
                <string>{104,98}</string>
            </dict>
            <key>chengbao_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,291},{88,78}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,78}}</string>
                <key>sourceSize</key>
                <string>{104,98}</string>
            </dict>
            <key>chuansongmen.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{75,97}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,97}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>hero_wqk_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,350},{83,76}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,76}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>hero_wqk_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,464},{83,83}}</string>
                <key>offset</key>
                <string>{-12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>hero_wqk_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,97},{85,84}}</string>
                <key>offset</key>
                <string>{-12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{109,102}</string>
            </dict>
            <key>hero_wqk_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{85,91}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,91}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>hero_wqk_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{85,93}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,93}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>jitan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{138,97}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,97}}</string>
                <key>sourceSize</key>
                <string>{144,117}</string>
            </dict>
            <key>jitan_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,97}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,97}}</string>
                <key>sourceSize</key>
                <string>{144,117}</string>
            </dict>
            <key>shenyusuo_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,416},{60,76}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>shenyusuo_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,464},{60,83}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,83}}</string>
                <key>sourceSize</key>
                <string>{60,99}</string>
            </dict>
            <key>shenyusuo_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,464},{60,83}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,83}}</string>
                <key>sourceSize</key>
                <string>{60,99}</string>
            </dict>
            <key>shenyusuo_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,198},{61,89}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,89}}</string>
                <key>sourceSize</key>
                <string>{63,105}</string>
            </dict>
            <key>xunlian_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,428},{33,47}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{41,51}</string>
            </dict>
            <key>xunlian_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,428},{32,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>xunlian_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,388},{35,47}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{43,51}</string>
            </dict>
            <key>xunlian_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,389},{36,48}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>xunlian_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,488},{37,49}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,49}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>xunlian_lv6.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,478},{41,49}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,49}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>xunlian_lv7.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,488},{44,50}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>yanjiuyuan_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{85,69}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,69}}</string>
                <key>sourceSize</key>
                <string>{101,99}</string>
            </dict>
            <key>yanjiuyuan_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,81},{85,75}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,75}}</string>
                <key>sourceSize</key>
                <string>{93,105}</string>
            </dict>
            <key>yanjiuyuan_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,183},{87,82}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,82}}</string>
                <key>sourceSize</key>
                <string>{93,108}</string>
            </dict>
            <key>yanjiuyuan_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{115,94}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,94}}</string>
                <key>sourceSize</key>
                <string>{135,120}</string>
            </dict>
            <key>yanjiuyuan_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,100},{108,96}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>yanjiuyuan_lv6.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{115,96}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,96}}</string>
                <key>sourceSize</key>
                <string>{133,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_army_sprite.pvr.ccz</string>
            <key>size</key>
            <string>{512,549}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9eb3a07852ebfef799110900207acfaa$</string>
            <key>textureFileName</key>
            <string>s_army_sprite.pvr.ccz</string>
        </dict>
    </dict>
</plist>
