<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_base_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{97,77}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,77}}</string>
                <key>sourceSize</key>
                <string>{101,79}</string>
            </dict>
            <key>hero_base_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,78}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,78}}</string>
                <key>sourceSize</key>
                <string>{101,80}</string>
            </dict>
            <key>hero_base_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{91,71}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{91,71}}</string>
                <key>sourceSize</key>
                <string>{101,79}</string>
            </dict>
            <key>hero_base_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{97,77}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,77}}</string>
                <key>sourceSize</key>
                <string>{101,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero.pvr.ccz</string>
            <key>size</key>
            <string>{101,313}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52802463d0fd05914141d440e96b9a3b$</string>
            <key>textureFileName</key>
            <string>hero.pvr.ccz</string>
        </dict>
    </dict>
</plist>
