<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui-06anglefull.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{147,211}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,36},{147,211}}</string>
                <key>sourceSize</key>
                <string>{267,283}</string>
            </dict>
            <key>ui-06archerfull.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{217,249}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{217,249}}</string>
                <key>sourceSize</key>
                <string>{267,283}</string>
            </dict>
            <key>ui-06ballomfull.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,263},{155,211}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,36},{155,211}}</string>
                <key>sourceSize</key>
                <string>{267,283}</string>
            </dict>
            <key>ui-06boomfull.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,253},{173,243}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,20},{173,243}}</string>
                <key>sourceSize</key>
                <string>{267,283}</string>
            </dict>
            <key>ui-06epicfull.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{233,279}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{233,279}}</string>
                <key>sourceSize</key>
                <string>{267,283}</string>
            </dict>
            <key>ui-06flyfull.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,263},{247,159}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,90},{247,159}}</string>
                <key>sourceSize</key>
                <string>{267,283}</string>
            </dict>
            <key>ui-06kuloufull.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,2},{189,259}}</string>
                <key>offset</key>
                <string>{19,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,4},{189,259}}</string>
                <key>sourceSize</key>
                <string>{267,283}</string>
            </dict>
            <key>ui-06theiffull.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,253},{163,243}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,4},{163,243}}</string>
                <key>sourceSize</key>
                <string>{267,283}</string>
            </dict>
            <key>ui-06titanfull.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{247,227}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,38},{247,227}}</string>
                <key>sourceSize</key>
                <string>{267,283}</string>
            </dict>
            <key>ui-06worriorfull.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{217,243}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{217,243}}</string>
                <key>sourceSize</key>
                <string>{267,283}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Avata.pvr.ccz</string>
            <key>size</key>
            <string>{1015,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:966a4993a25b001a5d65f6cdf678ec39$</string>
            <key>textureFileName</key>
            <string>avata.pvr.ccz</string>
        </dict>
    </dict>
</plist>
