<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>badge0.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{72,68}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{72,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>badge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{72,68}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{72,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>badge10.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{72,68}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{72,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>badge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{72,68}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{72,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>badge3.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{72,68}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{72,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>badge4.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{72,68}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{72,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>badge5.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{72,68}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{72,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>badge6.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{72,68}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{72,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>badge7.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{72,68}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{72,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>badge8.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,68}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{72,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>badge9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,68}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{72,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>badge.pvr.ccz</string>
            <key>size</key>
            <string>{816,72}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:274a1bc37ccb811b6abd6bf4bc3130d3$</string>
            <key>textureFileName</key>
            <string>badge.pvr.ccz</string>
        </dict>
    </dict>
</plist>
