<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jianong_lv10_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{91,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,80}}</string>
                <key>sourceSize</key>
                <string>{91,80}</string>
            </dict>
            <key>jianong_lv11_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{93,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,83}}</string>
                <key>sourceSize</key>
                <string>{93,83}</string>
            </dict>
            <key>jianong_lv1_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,154},{76,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,64}}</string>
                <key>sourceSize</key>
                <string>{76,64}</string>
            </dict>
            <key>jianong_lv2_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,174},{79,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,66}}</string>
                <key>sourceSize</key>
                <string>{79,66}</string>
            </dict>
            <key>jianong_lv3_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{79,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,66}}</string>
                <key>sourceSize</key>
                <string>{79,66}</string>
            </dict>
            <key>jianong_lv4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,170},{75,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,70}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>jianong_lv5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{76,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,73}}</string>
                <key>sourceSize</key>
                <string>{76,73}</string>
            </dict>
            <key>jianong_lv6_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,84},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>jianong_lv7_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,84},{85,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{85,84}</string>
            </dict>
            <key>jianong_lv8_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,160},{77,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>jianong_lv9_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,85}}</string>
                <key>sourceSize</key>
                <string>{93,85}</string>
            </dict>
            <key>jiupao_lv1_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,63},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>jiupao_lv2_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{56,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,59}}</string>
                <key>sourceSize</key>
                <string>{56,59}</string>
            </dict>
            <key>jiupao_lv3_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>jiupao_lv4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,143},{68,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,65}}</string>
                <key>sourceSize</key>
                <string>{68,65}</string>
            </dict>
            <key>jiupao_lv5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,74},{71,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,67}}</string>
                <key>sourceSize</key>
                <string>{71,67}</string>
            </dict>
            <key>jiupao_lv6_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>jiupao_lv7_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,77},{67,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,75}}</string>
                <key>sourceSize</key>
                <string>{67,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building.png</string>
            <key>size</key>
            <string>{468,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6dab4c8c650c3434e6ddbe660ef1ac34$</string>
            <key>textureFileName</key>
            <string>building.png</string>
        </dict>
    </dict>
</plist>
