<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>052101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,160},{30,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,66}}</string>
                <key>sourceSize</key>
                <string>{30,66}</string>
            </dict>
            <key>052102.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,183},{30,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,66}}</string>
                <key>sourceSize</key>
                <string>{30,66}</string>
            </dict>
            <key>052103.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,185},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>052105.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,183},{73,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,71}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>052106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,199},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>052107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,110},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,39}}</string>
                <key>sourceSize</key>
                <string>{53,39}</string>
            </dict>
            <key>052110.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,129},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>052202.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,134},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>052203.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,208},{53,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,45}}</string>
                <key>sourceSize</key>
                <string>{53,45}</string>
            </dict>
            <key>052204.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,208},{53,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,45}}</string>
                <key>sourceSize</key>
                <string>{53,45}</string>
            </dict>
            <key>0528001.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,132},{98,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,49}}</string>
                <key>sourceSize</key>
                <string>{98,49}</string>
            </dict>
            <key>0528002.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,148},{69,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,35}}</string>
                <key>sourceSize</key>
                <string>{69,35}</string>
            </dict>
            <key>0528003.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,207},{69,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,35}}</string>
                <key>sourceSize</key>
                <string>{69,35}</string>
            </dict>
            <key>0528004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,156},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>Battlelog.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,110},{53,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,44}}</string>
                <key>sourceSize</key>
                <string>{53,44}</string>
            </dict>
            <key>QD-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,33},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>QD-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,92},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>UI-10-a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,87},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>UI-10-d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,224},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>UI-10-e.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,213},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>UI-10-f.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,211},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>UI-10-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,147},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>UI-10-j.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,2},{25,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,29}}</string>
                <key>sourceSize</key>
                <string>{25,29}</string>
            </dict>
            <key>UI0530011.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,201},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>UI_DNN130417a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,94},{53,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,44}}</string>
                <key>sourceSize</key>
                <string>{53,44}</string>
            </dict>
            <key>UI_Dnn_0422001.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,33},{96,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{96,96}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>UI_Dnn_0422002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{156,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,94}}</string>
                <key>sourceSize</key>
                <string>{156,94}</string>
            </dict>
            <key>UI_Dnn_0422004.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,2},{100,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,85}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>UI_Dnn_0422005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,110},{26,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,138}}</string>
                <key>sourceSize</key>
                <string>{26,138}</string>
            </dict>
            <key>UI_Dnn_0422006.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{299,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{299,3}}</string>
                <key>sourceSize</key>
                <string>{301,3}</string>
            </dict>
            <key>UI_Dnn_0422007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,2},{86,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,83}}</string>
                <key>sourceSize</key>
                <string>{86,83}</string>
            </dict>
            <key>alliance-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,173},{135,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,40}}</string>
                <key>sourceSize</key>
                <string>{135,40}</string>
            </dict>
            <key>alliance-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,131},{135,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,40}}</string>
                <key>sourceSize</key>
                <string>{135,40}</string>
            </dict>
            <key>alliance-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,184},{42,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,25}}</string>
                <key>sourceSize</key>
                <string>{42,25}</string>
            </dict>
            <key>alliance-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,182},{49,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,29}}</string>
                <key>sourceSize</key>
                <string>{49,29}</string>
            </dict>
            <key>alliance-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,208},{55,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,29}}</string>
                <key>sourceSize</key>
                <string>{55,29}</string>
            </dict>
            <key>alliance-buttom(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,151},{53,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,29}}</string>
                <key>sourceSize</key>
                <string>{53,29}</string>
            </dict>
            <key>alliance-buttom(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,171},{53,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,29}}</string>
                <key>sourceSize</key>
                <string>{53,29}</string>
            </dict>
            <key>alliance-buttom(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,140},{53,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,29}}</string>
                <key>sourceSize</key>
                <string>{53,29}</string>
            </dict>
            <key>alliance-buttom(4).png</key>
            <dict>
                <key>frame</key>
                <string>{{505,180},{53,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,29}}</string>
                <key>sourceSize</key>
                <string>{53,29}</string>
            </dict>
            <key>attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,224},{43,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,30}}</string>
                <key>sourceSize</key>
                <string>{43,30}</string>
            </dict>
            <key>attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,202},{28,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{28,20}</string>
            </dict>
            <key>attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,2},{85,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,83}}</string>
                <key>sourceSize</key>
                <string>{85,83}</string>
            </dict>
            <key>attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,128},{75,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,18}}</string>
                <key>sourceSize</key>
                <string>{75,18}</string>
            </dict>
            <key>attack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,180},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,148},{60,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,20}}</string>
                <key>sourceSize</key>
                <string>{60,20}</string>
            </dict>
            <key>basic window inside2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,168},{115,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{115,72}}</string>
                <key>sourceSize</key>
                <string>{125,80}</string>
            </dict>
            <key>bigwindows insidezz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,2},{85,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,90}}</string>
                <key>sourceSize</key>
                <string>{85,90}</string>
            </dict>
            <key>chat-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,227},{31,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,24}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
            <key>cut line.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,89},{96,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,1}}</string>
                <key>sourceSize</key>
                <string>{96,1}</string>
            </dict>
            <key>cut line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,2},{1,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,51}}</string>
                <key>sourceSize</key>
                <string>{1,51}</string>
            </dict>
            <key>cut-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,2},{2,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,110}}</string>
                <key>sourceSize</key>
                <string>{2,110}</string>
            </dict>
            <key>cut-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{110,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,2}}</string>
                <key>sourceSize</key>
                <string>{110,2}</string>
            </dict>
            <key>cut-attak1.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,106},{131,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,21}}</string>
                <key>sourceSize</key>
                <string>{131,21}</string>
            </dict>
            <key>cut-attak2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,87},{131,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,21}}</string>
                <key>sourceSize</key>
                <string>{131,21}</string>
            </dict>
            <key>cut-attak3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,205},{33,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,20}}</string>
                <key>sourceSize</key>
                <string>{33,20}</string>
            </dict>
            <key>emil.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,206},{43,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,36}}</string>
                <key>sourceSize</key>
                <string>{43,36}</string>
            </dict>
            <key>emil2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,193},{44,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,36}}</string>
                <key>sourceSize</key>
                <string>{44,36}</string>
            </dict>
            <key>flashlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,7},{122,122}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>general backwindow.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,2},{138,29}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{138,29}}</string>
                <key>sourceSize</key>
                <string>{146,35}</string>
            </dict>
            <key>general backwindow3blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,148},{45,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,58}}</string>
                <key>sourceSize</key>
                <string>{45,58}</string>
            </dict>
            <key>general backwindow3blue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,148},{43,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,56}}</string>
                <key>sourceSize</key>
                <string>{43,56}</string>
            </dict>
            <key>general backwindow3blue3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,142},{43,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,55}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>general buttom blue0b.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,95},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>general buttom green.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,95},{80,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,31}}</string>
                <key>sourceSize</key>
                <string>{80,31}</string>
            </dict>
            <key>general buttom green1.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,215},{113,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,39}}</string>
                <key>sourceSize</key>
                <string>{113,39}</string>
            </dict>
            <key>general buttom yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,101},{80,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,31}}</string>
                <key>sourceSize</key>
                <string>{80,31}</string>
            </dict>
            <key>general buttom yellow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,215},{113,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,39}}</string>
                <key>sourceSize</key>
                <string>{113,39}</string>
            </dict>
            <key>general window inside3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,170},{53,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,36}}</string>
                <key>sourceSize</key>
                <string>{53,36}</string>
            </dict>
            <key>general windowd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,94},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{39,51}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>glowzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,142}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{184,142}}</string>
                <key>sourceSize</key>
                <string>{202,144}</string>
            </dict>
            <key>head.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,7},{159,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,159}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>iitembox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,2},{69,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,144}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>infoicon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{107,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,91}}</string>
                <key>sourceSize</key>
                <string>{107,91}</string>
            </dict>
            <key>keyboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,131},{79,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,47}}</string>
                <key>sourceSize</key>
                <string>{79,47}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{110,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,2}}</string>
                <key>sourceSize</key>
                <string>{110,2}</string>
            </dict>
            <key>loading bar background1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,121},{43,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>qd04.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,132},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>raid1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,228},{29,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,23}}</string>
                <key>sourceSize</key>
                <string>{29,23}</string>
            </dict>
            <key>raid2.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{102,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,97}}</string>
                <key>sourceSize</key>
                <string>{102,97}</string>
            </dict>
            <key>raid3.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{106,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,102}}</string>
                <key>sourceSize</key>
                <string>{106,102}</string>
            </dict>
            <key>randomkey.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,170},{35,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{35,33}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>recommend.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,185},{61,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,21}}</string>
                <key>sourceSize</key>
                <string>{61,21}</string>
            </dict>
            <key>shop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,168},{51,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,86}}</string>
                <key>sourceSize</key>
                <string>{51,86}</string>
            </dict>
            <key>success-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,208},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GUIImages3.pvr.ccz</string>
            <key>size</key>
            <string>{1436,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cb6cfc1b35e0360f84445dd70d54621$</string>
            <key>textureFileName</key>
            <string>GUIImages3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
