<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TID_SKILL_BLOODLUST.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,476},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>TID_SKILL_CRAZY.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,444},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>TID_SKILL_CRIT.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,476},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>TID_SKILL_CURSEDAURA.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,444},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>TID_SKILL_EXTRAMUSCLE.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,478},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>TID_SKILL_FASTHALO.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,446},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>TID_SKILL_HYDRATE.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,336},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>TID_SKILL_INVINCIBLE.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,304},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>TID_SKILL_METEORITEFALL.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,272},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>TID_SKILL_OFFENSIVEAURAS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,294},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>TID_SKILL_WARAURA.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,262},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>TID_SKILL_ZEROICE.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,230},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>TID_WEAPON_ALLOYBOOTS.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,340},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{52,50}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>TID_WEAPON_ASSASSINATE.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,450},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{46,48}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>TID_WEAPON_CRUSADE.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,392},{48,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{48,52}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>TID_WEAPON_CURSE.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,342},{50,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{50,48}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>TID_WEAPON_CURSEDAURA.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,396},{38,52}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{38,52}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>TID_WEAPON_DARKARMOR.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,392},{48,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{48,50}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>TID_WEAPON_DEMONGLOVES.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,342},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{50,48}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>TID_WEAPON_ELVENBOOTS.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,342},{50,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{50,48}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>TID_WEAPON_ELVENCLOAK.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,340},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{50,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>TID_WEAPON_FLYSHOES.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,342},{52,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{52,48}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>TID_WEAPON_GOLDHAMMER.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,448},{44,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{44,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>TID_WEAPON_HEAVYARMOR.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,411},{54,42}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{54,42}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>TID_WEAPON_HOLYSWORD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,60},{52,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{52,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>TID_WEAPON_HYDRATE.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,455},{54,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{54,44}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>TID_WEAPON_INVINCIBLE.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,446},{42,44}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{42,44}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>TID_WEAPON_MAGICSHIRT.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,448},{40,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{40,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>TID_WEAPON_ORACLESWORD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{52,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{52,56}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>TID_WEAPON_PALADIN.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,450},{44,54}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{44,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>TID_WEAPON_PILLAGERGLOVES.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,392},{48,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{48,50}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>TID_WEAPON_SAVAGEAXE.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,392},{48,52}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,52}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>TID_WEAPON_STEALTHSHOES.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,396},{48,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{48,52}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>TID_WEAPON_VIKINGARMOR.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,342},{52,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{52,48}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>TID_WEAPON_VIKINGBOOTS.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,392},{48,54}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{48,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>UI-0217 angle.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,263},{111,110}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{111,110}}</string>
                <key>sourceSize</key>
                <string>{131,128}</string>
            </dict>
            <key>UI-0217 archer.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,263},{111,110}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{111,110}}</string>
                <key>sourceSize</key>
                <string>{131,128}</string>
            </dict>
            <key>UI-0217 ballom.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,387},{95,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{95,106}}</string>
                <key>sourceSize</key>
                <string>{131,128}</string>
            </dict>
            <key>UI-0217 boomer.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,230},{111,110}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{111,110}}</string>
                <key>sourceSize</key>
                <string>{131,128}</string>
            </dict>
            <key>UI-0217 death knight.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,230},{111,110}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{111,110}}</string>
                <key>sourceSize</key>
                <string>{131,128}</string>
            </dict>
            <key>UI-0217 fly.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,228},{111,110}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{111,110}}</string>
                <key>sourceSize</key>
                <string>{131,128}</string>
            </dict>
            <key>UI-0217 lich.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,197},{111,110}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{111,110}}</string>
                <key>sourceSize</key>
                <string>{131,128}</string>
            </dict>
            <key>UI-0217 theif.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,151},{111,110}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{111,110}}</string>
                <key>sourceSize</key>
                <string>{131,128}</string>
            </dict>
            <key>UI-0217 titan.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,118},{111,110}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{111,110}}</string>
                <key>sourceSize</key>
                <string>{131,128}</string>
            </dict>
            <key>UI-0217 witch.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,118},{109,110}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{109,110}}</string>
                <key>sourceSize</key>
                <string>{131,128}</string>
            </dict>
            <key>UI-0217 worrior.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,116},{111,110}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{111,110}}</string>
                <key>sourceSize</key>
                <string>{131,128}</string>
            </dict>
            <key>army.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{213,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,132}}</string>
                <key>sourceSize</key>
                <string>{213,132}</string>
            </dict>
            <key>bottle-b(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{292,375},{77,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{77,128}}</string>
                <key>sourceSize</key>
                <string>{131,128}</string>
            </dict>
            <key>bottle-g(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{213,375},{77,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{77,128}}</string>
                <key>sourceSize</key>
                <string>{131,128}</string>
            </dict>
            <key>bottle-p(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{517,151},{77,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{77,128}}</string>
                <key>sourceSize</key>
                <string>{131,128}</string>
            </dict>
            <key>bottle-y(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{134,375},{77,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{77,128}}</string>
                <key>sourceSize</key>
                <string>{131,128}</string>
            </dict>
            <key>defenses.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{222,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,101}}</string>
                <key>sourceSize</key>
                <string>{222,103}</string>
            </dict>
            <key>diaoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{132,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,147}}</string>
                <key>sourceSize</key>
                <string>{132,147}</string>
            </dict>
            <key>resources.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{256,130}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{256,130}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>shield-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,281},{98,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,104}}</string>
                <key>sourceSize</key>
                <string>{98,104}</string>
            </dict>
            <key>shield-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,375},{98,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,104}}</string>
                <key>sourceSize</key>
                <string>{98,104}</string>
            </dict>
            <key>shield-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,2},{122,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,114}}</string>
                <key>sourceSize</key>
                <string>{122,114}</string>
            </dict>
            <key>shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{130,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,124}}</string>
                <key>sourceSize</key>
                <string>{130,124}</string>
            </dict>
            <key>treasure.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,136}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{256,136}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>zs-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,411},{81,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,36}}</string>
                <key>sourceSize</key>
                <string>{81,36}</string>
            </dict>
            <key>zs-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,106},{132,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,89}}</string>
                <key>sourceSize</key>
                <string>{132,89}</string>
            </dict>
            <key>zs-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,2},{143,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,102}}</string>
                <key>sourceSize</key>
                <string>{143,102}</string>
            </dict>
            <key>zs-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{124,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,112}}</string>
                <key>sourceSize</key>
                <string>{124,112}</string>
            </dict>
            <key>zs-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,136},{142,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,125}}</string>
                <key>sourceSize</key>
                <string>{142,125}</string>
            </dict>
            <key>zs-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,449},{79,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,36}}</string>
                <key>sourceSize</key>
                <string>{79,36}</string>
            </dict>
            <key>zs-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,365},{122,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,44}}</string>
                <key>sourceSize</key>
                <string>{122,44}</string>
            </dict>
            <key>zs-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,309},{118,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,54}}</string>
                <key>sourceSize</key>
                <string>{118,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Icons.pvr.ccz</string>
            <key>size</key>
            <string>{1080,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8a7f16236ca2083c57246c6dc601616$</string>
            <key>textureFileName</key>
            <string>Icons.pvr.ccz</string>
        </dict>
    </dict>
</plist>
