<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coccover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{816,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{816,460}}</string>
                <key>sourceSize</key>
                <string>{816,460}</string>
            </dict>
            <key>loge CH.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,249},{213,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,250}}</string>
                <key>sourceSize</key>
                <string>{213,250}</string>
            </dict>
            <key>loge CH1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,249},{216,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,159}}</string>
                <key>sourceSize</key>
                <string>{216,159}</string>
            </dict>
            <key>loge CH2.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,67},{267,162}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{267,162}}</string>
                <key>sourceSize</key>
                <string>{317,168}</string>
            </dict>
            <key>logo-en(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,67},{180,96}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{180,96}}</string>
                <key>sourceSize</key>
                <string>{180,148}</string>
            </dict>
            <key>now loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,464},{254,19}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{254,19}}</string>
                <key>sourceSize</key>
                <string>{350,19}</string>
            </dict>
            <key>smallmark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{130,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,36}}</string>
                <key>sourceSize</key>
                <string>{130,36}</string>
            </dict>
            <key>ui_05newloadinggold1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,464},{328,21}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{328,21}}</string>
                <key>sourceSize</key>
                <string>{336,63}</string>
            </dict>
            <key>ui_loadingbarbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{336,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,63}}</string>
                <key>sourceSize</key>
                <string>{336,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Loading background.pvr.ccz</string>
            <key>size</key>
            <string>{1196,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b228a9a3d21c1087b1b964111abe1aa$</string>
            <key>textureFileName</key>
            <string>Loading background.pvr.ccz</string>
        </dict>
    </dict>
</plist>
