<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,100},{94,79}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,79}}</string>
                <key>sourceSize</key>
                <string>{104,103}</string>
            </dict>
            <key>hall_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{96,83}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,83}}</string>
                <key>sourceSize</key>
                <string>{104,107}</string>
            </dict>
            <key>hall_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,196},{96,87}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,87}}</string>
                <key>sourceSize</key>
                <string>{102,111}</string>
            </dict>
            <key>hall_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,294},{96,89}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,89}}</string>
                <key>sourceSize</key>
                <string>{100,113}</string>
            </dict>
            <key>hall_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,392},{102,96}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,96}}</string>
                <key>sourceSize</key>
                <string>{108,114}</string>
            </dict>
            <key>hall_lv6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{113,103}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,103}}</string>
                <key>sourceSize</key>
                <string>{121,115}</string>
            </dict>
            <key>hall_lv7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{127,111}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,111}}</string>
                <key>sourceSize</key>
                <string>{151,121}</string>
            </dict>
            <key>hall_lv8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{127,130}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,130}}</string>
                <key>sourceSize</key>
                <string>{149,138}</string>
            </dict>
            <key>hall_lv9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,128}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,128}}</string>
                <key>sourceSize</key>
                <string>{159,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_hall_sprite.pvr.ccz</string>
            <key>size</key>
            <string>{223,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09b64625cbb1064fb05cfa05c9faccfa$</string>
            <key>textureFileName</key>
            <string>s_hall_sprite.pvr.ccz</string>
        </dict>
    </dict>
</plist>
